html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;

}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}

.navbar {
  padding: .8rem;
}

.navbar-dark li:hover {
  font-weight: bold;
 }

.navbar-nav li {
  padding-right: 15px;
}
.nav-link {
  font-size: 1.3rem !important;
  text-transform: uppercase;
  font-weight: bold;

}


.form-group select {
  margin: 10px;

}

 .tabs {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

}

 /*Home Page */

 /* Search Container */

 .container-hero-text {

   margin-left: auto;
   margin-right: auto;
   margin-top: 25px;
   margin-bottom: 15px;
   padding: 35px;
   height: inherit;
 }

 .container-hero {
  background-image: url(../images/backgrounds/bluewater.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  height: auto;
  text-align: center;
  max-height: 750px;
 }

 .container-hero h1 {
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
  padding: 10px;
}

.container-hero h3 {
  color: white;
  font-size:200%;
  margin-top: 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
  padding: 10px;
  padding-bottom: 1rem;
}

.search-form {
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5);
  background-color: #eee;
  height: 200px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;

 }

.search-form h4 {
  margin-top: 15px;
  padding: 10px;
  color: #00BCFF;
  font-size: 28px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.form-row {
  width: 100%;
}

/* How it Works Container */

.jumbotron h1 {
  margin-top: -15px;
  color: black;
  font-size: 36px;
  padding-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
}

.jumbotron h3 {
  color: black;
  font-size:200%;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  padding-bottom: 1rem;
}

.container-about-us {
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01);
  height: auto;
  width: 75%;
  background-color: white;
  text-align: center;
  letter-spacing: 0.3px;
}

.container-process {
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    height: auto;
    width: 90%;
    background-color: white;
    border-radius: 8px;
    text-align: center;

}

.container-map {

    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    height: auto;
    width: 80%;
    background-color: white;
    border-radius: 8px;

}

.container-signup {

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    height: auto;
    width: 60%;
    background-color: white;
    border-radius: 8px;
    text-align: left;

}

.container-signup p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
  display: inline;
}

/* Forms */

.md-form input {

  border-radius: 8px;
  width: 100%;
}

.form-group input {

  margin-left: 10px;
}

.form-group {
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
 }

 .form-group p {
  color:black;
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
  margin-left: 10px;
  }

.carousel-inner img {
  height: auto;
  width: 100%;

}

.welcome-msg {
  position: fixed;
  top: 43%;
  transform: translateY(-55%);
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;


  }

.top-left {
  top: 50px;
  left: 46px;
}

.btn-primary {
  background-color: #6648b1;
  border: 1px solid #6648b1;
}

.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}


.translucent-container .card{
  background-color: rgba(245, 245, 245, 0.8);
}

.navbar-brand {
  font-weight: bold;
  font-style: italic;
  margin-top: 5px;
}

.bg-cover{
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  height:100%;
  background-color: rgba(0,0,0,0.2);
  z-index: -99;
}

.bg {
  position: fixed;
  left: 0;
  right: 0;
  background-image: url("/images/YachsittersBackground.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  background-blend-mode: saturation;
  display: block;
  z-index: -100;
}


.marketplace h1 {
  text-align: center;
  font-weight: bold;
}

.title {

  text-align: center;
  padding: 25px 0px;

}

.title p {
  font-size: 18px;
}

.card {

  margin: 10px 10px;
  height: auto;
}

.card-deck {

  padding: 10px;
  height: auto;
}

.card-body {

  box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);

}

.card:hover{
     transform: scale(1.01);
     box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
     cursor: pointer;
}

.card-body a {

  text-decoration: none;
  margin-top: auto;
  font-weight: 600;
  padding: 12px;
}

.card-body a:hover {

  text-decoration: none;
}

.card-columns {
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
}

.job-card {

  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 25px;
  width: 100%;

}

.inner {
  overflow: hidden;

 }

.inner img {
  transition: all 1.5s ease;
 }

.inner:hover img{
  transform: scale(1.5);
 }

.col-12 h2{
  font-weight: bold;
  margin-top: 25px;
}

.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}

.fa-css3 {
  color: #2163af;
}

.social a {
  font-size:2.5em;
  padding: 1.5rem;

}


.extra_margin {
  margin-top: 40px;

}

.col_background {
  background-color: #F9F8F8;
  display: inline-block;

}

.col_background img {
  display: inline-block;
 width: 170px;
 height: 150px;
 border-radius: 50%;
 border: 6px solid #FEFEFE;

 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
}

.navbar-brand, .navbar-nav{
  padding: 0 15px;
}


#loginModal {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

#newModal {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.loginModal h1 {
  color: black;
  font-size: 36px;
  margin-bottom: 40px;
  display: none;
}

/* Buttons */

.card-button {

  padding: 10px;
  color: black;
  border: 1px solid #323232;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  text-transform: uppercase;
}

.card-button:hover {

  color: white;
  background-color: #0CBAE9;
  font-weight:bolder;
  padding: 18px;
  border-radius: 6px;

}

.btn-secondary {
  width: auto;
  padding: 10px;
  border: 2px solid white;

}
i {
  padding: 5px;
}

.discard-button {
  background: white;
  border: none;
  padding: 10px;
  color: red;
  font-weight: bold;
  font-size: 15px;
  width: 100%;
  max-width: 100px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.2s;
}

.discard-button:hover {

  background: red;
  color: #fff;

}

.cancel-button {
  background: #DC2323;
  padding: 8px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  max-width: 100px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: 0.4s;
}

.cancel-button:hover {

  background: #FF0000;
  color: #fff;

}

.status-button {
  display: inline;
  background: #eee;
  padding: 5px;
  color: green;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
  max-width: 150px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  text-decoration: none;
  margin: auto;
  transition: 0.2s;
}

.status-button:hover {

  background: red;
  color: #fff;

}

.view-button {
  background: #00BCFF;
  padding: 8px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
  max-width: 100px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: 0.4s;
}

.view-button:hover {

  background: #00ECFF;
  color: #fff;

}

.info-button {
  background: #FFAA00;
  padding: 8px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
  max-width: 80px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: 0.4s;
}

.info-button:hover {

  background: #EC9E00;
  color: #fff;

}

.delete-button {
  background: red;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  text-decoration: none;
  transition: 0.4s;
}

.delete-button:hover {

  background: #34495e;
  color: #fff;
}

.search-button {
  background: #00BCFF;
  padding: 10px 15px;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  text-decoration: none;
  transition: 0.4s;
}

.search-button:hover {

  background: white;
  color: #00BCAF;
}

.how-button {
  background: #00BCFF;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  height: auto;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  text-decoration: none;
  transition: 0.2s;
}

.how-button:hover {

  background: #00ACAF;
  color: #fff;
}

.navigation-button {
  background: #3396FF;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.5);
  text-decoration: none;
  transition: 0.3s;
}

.navigation-button:hover {

  background: #00C5FF;
  color: #fff;
}

.logout-button {
  background: #3396FF;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.5);
  text-decoration: none;
  transition: 0.3s;
}

.logout-button:hover {

  background: red;
  color: white;
}

.create-button {
  background: #59D766;
  margin-bottom: 15px;
  padding: 10px 15px;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.50);
  text-decoration: none;
  transition: 0.2s;
}

.create-button:hover {

  background: #34495e;
  color: #fff;
}

.card-text{

  color: black;
}


.button {
  background: #eee;
  padding: 10px 15px;
  color: #34495e;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  margin-top: 25px;
  text-decoration: none;
  transition: 0.4s;
}

.button:hover {
  background: #344953;
  color: #fff;
}

.btn-link{

  text-transform: uppercase;
  color: black;
  text-align: center;
}

/*Boat Page CSS*/

.boat-reviews {
  margin-top: 30px;
  width: 90%;
  background-color: #EEE;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  text-align: center;

 }

/*Profile Page CSS */

.container-preferences {

}

.profile {

  background-color: #F6F6F6;
  margin-top: 50px;
  padding: 20px;
  margin-left: 30px;
  border-radius: 10px;
  height: auto;

 }

.owner-profile {

  background-color: white;
  margin-top: 65px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: auto;
  width: auto;
  overflow-x: hidden;
 }

 .tradie-profile {

   background-color: white;
   margin-top: 82px;
   padding: 5px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
   height: auto;
   width: auto;
   overflow-x: hidden;
  }

 .applications {

  background-color: #F6F6F6;
  margin-top: 50px;
  padding: 10px;
  margin-left: 30px;
  border-radius: 10px;
  height: auto;
 }

 .checked {
  color: orange;
}

 .profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    width: 100%;
    height: auto;
    max-height: 650px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 8px;
    margin-top: 10px;

  }

  .link-button {
    font-size: 10px;
    color: blue;
   }

  .requests-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    height: auto;
    width: 100%;
    max-height: 650px;
    background-color: white;
    border-radius: 8px;
    margin-top: 10px;

  }
.row {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;

}

  .container-boatad {
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    height: auto;
    background-color: white;
    border-radius: 8px;
    text-align: left;

  }


  .container-reviews {
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    height: auto;
    width: 80%;
    background-color: white;
    border-radius: 8px;
    text-align: center;

   }

  .advertisement {

    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    height: auto;
    max-width: 500px;
    max-height: 850px;
    background-color: white;
    border-radius: 8px;
    margin: 30px;


  }

  .requests-card h2 {
    color: #00BCFF;
    margin-top: 5px;
    text-align: left;
   }

  .applications-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    height: auto;
    max-width: 500px;
    max-height: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 8px;
  }

  .applications-card h2 {
    color: #00BCFF;
    margin-top: 5px;
    text-align: left;

   }
  .profile a {

      text-decoration: none;
      font-size: 22px;
      color: black;
      text-align:center;
  }

  .profile-name {
    color: black;
    font-size: 28px;
    font-weight: 20px;
 }

   .profile-location {

    color: grey;
    font-size: 18px;
 }

  .myboats {

    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    background-color: #fff;

   }

  .bottom-profile {

    padding: 50px;
    border: 2px solid #EEE;
    margin-top: 35px;
    margin: 19px;
    background-color: white;
    border-radius: 8px;

  }

  .bottom-profile h2 {

    text-align: left;
    margin-top: -40px;
    color: #00BCFF;
   }

  .bottom-profile a {

    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
 }

.popup {
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content {
  flex: 1 0 auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.content h1 {
  text-transform: uppercase;
  margin-top: 25px;
  text-align: center;
  padding: 10px;
 }


.footer {

  background-color: #006ab6;
  color: #fff;
  height: auto;
  padding: 20px;
  text-transform: uppercase;

}

.footer input {
    font-size: 12px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

}


.footer a {
  color: #d5d5d5;
}

.footer p {
  text-align: center;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

.footer h1, h2 {
  text-align: center;
  padding: 10px;
  margin-top: 15px;
}

.footer ul {

  padding: 10px;
  margin-top: 35px;
  font-weight: bold;
  font-size: 20px;
  list-style-type: none;
}

.footer li {
  text-align: center;
}

.footer li:hover {
  color: #00BCFF;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.popup-content {
  height: 250px;
  width: 500px;
  background: #eee;
  padding: 20px;
  border-radius: 5px;
  position: relative;

}

.form-control {
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

input {

  margin: 20px auto;
  display: block;
  width: 50%;
  padding: 10px;
  border: 1px solid gray;

}

form input[type="checkbox"]{
  width:1.5em;
  height:1.5em;
  vertical-align: right;
  margin-left: auto;
  margin-right: auto;

}


.img-thumbnail {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 100px; /* Set a small width */
}

.img-thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

table {

  height: auto;
  width: auto;

 }


table th {
  background: #00BCFF;
  color: #FFF;
  text-align: center;

}

.mdb-main-label {
  color: black;
  text-align: left;
  padding-bottom: 4px;
 }

.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-footer p {
  text-align: center;
 }

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }

    @font-face {
      font-family: 'Glyphicons Halflings';
      src: url('../fonts/glyphicons-halflings-regular.eot');
      src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
    }

/*Tradie styles*/

body{
    background:#eee;
    margin-top:40px;
}
.widget-author {
  margin-bottom: 58px;
}
.author-card {
  position: relative;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  margin-top: 100px;


}
.author-card .author-card-cover {
  position: relative;
  width: 100%;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.author-card .author-card-cover::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0.5;
}
.author-card .author-card-cover > .btn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0 10px;
}
.author-card .author-card-profile {
  display: table;
  position: relative;
  margin-top: -22px;
  padding-right: 15px;
  padding-bottom: 16px;
  padding-left: 20px;
  z-index: 5;
}
.author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {
  display: table-cell;
  vertical-align: middle;
}
.author-card .author-card-profile .author-card-avatar {
  width: 85px;
  border-radius: 50%;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
  overflow: hidden;
}
.author-card .author-card-profile .author-card-avatar > img {
  display: block;
  width: 100%;
}
.author-card .author-card-profile .author-card-details {
  padding-top: 20px;
  padding-left: 15px;
}
.author-card .author-card-profile .author-card-name {
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: bold;
}
.author-card .author-card-profile .author-card-position {
  display: block;
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 600;
}
.author-card .author-card-info {
  margin-bottom: 0;
  padding: 0 25px;
  font-size: 13px;
}
.author-card .author-card-social-bar-wrap {
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
}
.author-card .author-card-social-bar-wrap .author-card-social-bar {
  display: table;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
}
.btn-style-1.btn-white {
    background-color: #fff;
}
.list-group-item i {
    display: inline-block;
    margin-top: -1px;
    margin-right: 8px;
    font-size: 1.2em;
    vertical-align: middle;
}
.mr-1, .mx-1 {
    margin-right: .25rem !important;
}

.list-group-item.active:not(.disabled) {
    border-color: #e7e7e7;
    background: #fff;
    color: #ac32e4;
    cursor: default;
    pointer-events: none;
}
.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
}

.list-group-flush .list-group-item {
    border-right: 0 !important;
    border-left: 0 !important;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
a.list-group-item, .list-group-item-action {
    color: #404040;
    font-weight: 600;
}
.list-group-item {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #e7e7e7 !important;
    border-radius: 0 !important;
    color: #404040;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
}

.product-card {
  position: relative;
  max-width: 380px;
  padding-top: 12px;
  padding-bottom: 43px;
  transition: all 0.35s;
  border: 1px solid #e7e7e7;
}
.product-card .product-head {
  padding: 0 15px 8px;
}
.product-card .product-head .badge {
  margin: 0;
}
.product-card .product-thumb {
  display: block;
}
.product-card .product-thumb > img {
  display: block;
  width: 100%;
}
.product-card .product-card-body {
  padding: 0 20px;
  text-align: center;
}
.product-card .product-meta {
  display: block;
  padding: 12px 0 2px;
  transition: color 0.25s;
  color: rgba(140, 140, 140, .75);
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}
.product-card .product-meta:hover {
  color: #8c8c8c;
}
.product-card .product-title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}
.product-card .product-title > a {
  transition: color 0.3s;
  color: #343b43;
  text-decoration: none;
}
.product-card .product-title > a:hover {
  color: #ac32e4;
}
.product-card .product-price {
  display: block;
  color: #404040;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.product-card .product-price > del {
  margin-right: 6px;
  color: rgba(140, 140, 140, .75);
}
.product-card .product-buttons-wrap {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
}
.product-card .product-buttons {
  display: table;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
}
.product-card .product-button {
  display: table-cell;
  position: relative;
  width: 50px;
  height: 40px;
  border-right: 1px solid rgba(231, 231, 231, .6);
}
.product-card .product-button:last-child {
  border-right: 0;
}
.product-card .product-button > a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  color: #404040;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}
.product-card .product-button > a:hover {
  background-color: #ac32e4;
  color: #fff;
}
.product-card:hover {
  border-color: transparent;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
}
.product-category-card {
  display: block;
  max-width: 400px;
  text-align: center;
  text-decoration: none !important;
}
.product-category-card .product-category-card-thumb {
  display: table;
  width: 100%;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
}
.product-category-card .product-category-card-body {
  padding: 20px;
  padding-bottom: 28px;
}
.product-category-card .main-img, .product-category-card .thumblist {
  display: table-cell;
  padding: 15px;
  vertical-align: middle;
}
.product-category-card .main-img > img, .product-category-card .thumblist > img {
  display: block;
  width: 100%;
}
.product-category-card .main-img {
  width: 65%;
  padding-right: 10px;
}
.product-category-card .thumblist {
  width: 35%;
  padding-left: 10px;
}
.product-category-card .thumblist > img:first-child {
  margin-bottom: 6px;
}
.product-category-card .product-category-card-meta {
  display: block;
  padding-bottom: 9px;
  color: rgba(140, 140, 140, .75);
  font-size: 11px;
  font-weight: 600;
}
.product-category-card .product-category-card-title {
  margin-bottom: 0;
  transition: color 0.3s;
  color: #343b43;
  font-size: 18px;
}
.product-category-card:hover .product-category-card-title {
  color: #ac32e4;
}
.product-gallery {
  position: relative;
  padding: 45px 15px 0;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
}
.product-gallery .gallery-item::before {
  display: none !important;
}
.product-gallery .gallery-item::after {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, .26);
}
.product-gallery .video-player-button, .product-gallery .badge {
  position: absolute;
  z-index: 5;
}
.product-gallery .badge {
  top: 15px;
  left: 15px;
  margin-left: 0;
}
.product-gallery .video-player-button {
  top: 0;
  right: 15px;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.product-gallery .product-thumbnails {
  display: block;
  margin: 0 -15px;
  padding: 12px;
  border-top: 1px solid #e7e7e7;
  list-style: none;
  text-align: center;
}
.product-gallery .product-thumbnails > li {
  display: inline-block;
  margin: 10px 3px;
}
.product-gallery .product-thumbnails > li > a {
  display: block;
  width: 94px;
  transition: all 0.25s;
  border: 1px solid transparent;
  background-color: #fff;
  opacity: 0.75;
}
.product-gallery .product-thumbnails > li:hover > a {
  opacity: 1;
}
.product-gallery .product-thumbnails > li.active > a {
  border-color: #ac32e4;
  cursor: default;
  opacity: 1;
}
.product-meta {
  padding-bottom: 10px;
}
.product-meta > a, .product-meta > i {
  display: inline-block;
  margin-right: 5px;
  color: rgba(140, 140, 140, .75);
  vertical-align: middle;
}
.product-meta > i {
  margin-top: 2px;
}
.product-meta > a {
  transition: color 0.25s;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}
.product-meta > a:hover {
  color: #8c8c8c;
}
.cart-item {
  position: relative;
  margin-bottom: 30px;
  padding: 0 50px 0 10px;
  background-color: #fff;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
}
.cart-item .cart-item-label {
  display: block;
  margin-bottom: 15px;
  color: #8c8c8c;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.cart-item .cart-item-product {
  display: table;
  width: 420px;
  text-decoration: none;
}
.cart-item .cart-item-product-thumb, .cart-item .cart-item-product-info {
  display: table-cell;
  vertical-align: top;
}
.cart-item .cart-item-product-thumb {
  width: 110px;
}
.cart-item .cart-item-product-thumb > img {
  display: block;
  width: 100%;
}
.cart-item .cart-item-product-info {
  padding-top: 5px;
  padding-left: 15px;
}
.cart-item .cart-item-product-info > span {
  display: block;
  margin-bottom: 2px;
  color: #404040;
  font-size: 12px;
}
.cart-item .cart-item-product-title {
  margin-bottom: 8px;
  transition: color, 0.3s;
  color: #343b43;
  font-size: 16px;
  font-weight: bold;
}
.cart-item .cart-item-product:hover .cart-item-product-title {
  color: #ac32e4;
}
.cart-item .count-input {
  display: inline-block;
  width: 85px;
}
.cart-item .remove-item {
  right: -10px !important;
}
@media (max-width: 991px) {
  .cart-item {
    padding-right: 30px;
  }
  .cart-item .cart-item-product {
    width: auto;
  }
}
@media (max-width: 768px) {
  .cart-item {
    padding-right: 10px;
    padding-bottom: 15px;
  }
  .cart-item .cart-item-product {
    display: block;
    width: 100%;
    text-align: center;
  }
  .cart-item .cart-item-product-thumb, .cart-item .cart-item-product-info {
    display: block;
  }
  .cart-item .cart-item-product-thumb {
    margin: 0 auto 10px;
  }
  .cart-item .cart-item-product-info {
    padding-left: 0;
  }
  .cart-item .cart-item-label {
    margin-bottom: 8px;
  }
}
.comparison-table {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.comparison-table table {
  min-width: 750px;
  table-layout: fixed;
}
.comparison-table .comparison-item {
  position: relative;
  margin-bottom: 10px;
  padding: 13px 12px 18px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
}
.comparison-table .comparison-item .comparison-item-thumb {
  display: block;
  width: 80px;
  margin-right: auto;
  margin-bottom: 12px;
  margin-left: auto;
}
.comparison-table .comparison-item .comparison-item-thumb > img {
  display: block;
  width: 100%;
}
.comparison-table .comparison-item .comparison-item-title {
  display: block;
  margin-bottom: 14px;
  transition: color 0.25s;
  color: #404040;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.comparison-table .comparison-item .comparison-item-title:hover {
  color: #ac32e4;
}
.remove-item {
  display: block;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 22px;
  height: 22px;
  padding-left: 1px;
  border-radius: 50%;
  background-color: #ff5252;
  color: #fff;
  line-height: 23px;
  text-align: center;
  box-shadow: 0 3px 12px 0 rgba(255, 82, 82, .5);
  cursor: pointer;
}
.card-wrapper {
  margin: 30px -15px;
}
@media (max-width: 576px) {
  .card-wrapper .jp-card-container {
    width: 260px !important;
  }
  .card-wrapper .jp-card {
    min-width: 250px !important;
  }
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}
