<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
</head>
<body>

<header>
    <%- include ("./partials/header") %>
</header>

<main>

  <div class="container-hero">
    <div class="container-hero-text">
      <h1 class="display-3">About Us</h1>
    </div>
  </div>

<div class="container-fluid">

   <div class="container-about-us">
     <h1 style="color:#006ab6;text-transform: uppercase;text-align:center;">Our Mission</h1><hr>
     <h3 style="font-size:18px;">Founded in 2019, Marine-Tasker is Australia's #1 platform to find qualified tradespeople near you who are willing to maintain and care for your boat.
       From mechanical engineering to detailing, Marine-Tasker is the best place to identify and acquire the right skillset to suit your boating requirements and needs.
     If you're a qualified tradie, <strong>Register Now</strong> to get full access to potential job opportunities near you!</h3>

	    <h3 style="font-size:18px;">
			As someone who has owned four of his own sailing yachts and works professionally in the marine
			industry, the founder of Marine-Tasker Mark Goode understands the need for a yacht to be checked
			and maintained regularly. But given the unique nature and location of boats any tradesperson requires a good
			boating knowledge, attention to detail and a specific understanding of the individual boat and the
			systems on board.</h3>

      <br>

			<h2 style="color:#006ab6;text-transform: uppercase;text-align:center;">A Word from our Developers</h2><hr>

		  <h3 style="font-size:18px;">
				Please give us feedback on the website. We would love to hear from you. Any functionality you would like to see,
					or think that is missing, please let us know!
				Please submit any bugs through the bug report form. screenshots of the issue including the URL would be awesome.
				-we will endeavour to provide a good service during this beta period and will be fixing bugs as soon as possible.
				David Goode & Tristan Darma
			</h3>
  </div>

</div>

</main>

</body>

<footer>
<div id="footer">
  <%- include ("./partials/footer") %>
</div>
</footer>

</html>
