<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<header>
    <% include ./partials/header %>
</header>

<main>

    <div class="row">

    <div class=" container-boatad col-md-6">

    <div id="carousel" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
      </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <!--<%boat.Images.forEach((image)=>{ %>-->
            <img src="/images/Yacht1.jpg"/>
            <!--<%})%>-->
                      
            </div>
            <div class="carousel-item">
            <img src="/images/Yacht2.jpg"/>
            </div>
          </div>
    </div>  
    </div>

    <div class="container-boatad col-md-6">
    <br>
    <h1 class="display-4"><%=boat.Name%></h1>
    
    <p><strong>Boat Model:</strong> <%=boat.Model%></p>

    <p><strong>Description</strong></p>

    <p>Knowledge of advertising techniques, Ability to think creatively, Independent thinking needed, Understanding of limitations surrounding marketing, Written communication skills, Verbal communication skills, Organisational skills, Customer relationship skills, Ability to listen and understand direction desired for advertising, Experience working with design software, Bachelor’s degree in graphic design or marketing preferred, Master’s degree preferred</p>

    <p><strong>Available from</strong> <%=boat.DateFrom%> Enter Calendar here <%=boat.DateFrom%></p>

    
    <button class="create-button" data-toggle="modal" data-target="#requestModal">Request to Sit</button>
      

</div>
</div>

    <div class="row">
        <div class="container-reviews">
        
            <h1 class="display-4">Reviews</h1>
            <hr>
            <p><strong>See what people are saying about their experience</strong></p>

        <div class="col-md-12 card-columns">
  
                    <div class="card shadow">
                        <img src="/images/profile2.jpg" class="card-img-top" alt=""> <!-- image is hardcoded atm -->
                        <div class="card-body">
                        <h4 class="card-title">James Hunter</h4>
                        <p class="card-text">Great experience with this boat. Will be booking again in the future!</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <br><br>
                    </div>
                    </div>
                    <div class="card shadow">
                        <img src="/images/profile2.jpg" class="card-img-top" alt=""> <!-- image is hardcoded atm -->
                        <div class="card-body">
                        <h4 class="card-title">James Hunter</h4>
                        <p class="card-text">Great experience with this boat. Will be booking again in the future!</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        
                        <br><br>
                    </div>
                    </div>
                    <div class="card shadow">
                        <img src="/images/profile2.jpg" class="card-img-top" alt=""> <!-- image is hardcoded atm -->
                        <div class="card-body">
                        <h4 class="card-title">James Hunter</h4>
                        <p class="card-text">Great experience with this boat. Will be booking again in the future!</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <br><br>
                    </div>
                    </div>
                
        </div>

       
    </div>
    </div>  

    <!-- Modal -->

    <div id="requestModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
          <div class="modal-content form-elegant">
            <form method="POST" action="/request/submit">
            <div class="modal-header text-center">
              <h4 class="modal-title">Request Form for <%=boat.Name%></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>

          <div class="modal-body text-center">

            <div class="input-group mb-3">
              <input type="text" required="required" placeholder="Message" id="messsage" name="message" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
        
          <div class="input-group mb-3">
            
            <input name='daterange' type='text' placeholder="Requested Dates" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
            <input type="hidden" id="type" name="type" value="<%=boat.Type%>">
            <input type="hidden" id="username" name="username" value="<%=boat.Username%>">
            </div>
            <button type="submit" class="create-button">Submit Request</button>
            </form>
        </div>

          <div class="modal-footer text-center">
          <p>By listing a new boat, you agree to our
          <a href="" target="_blank">terms of service</a>
        </div>
        
    </div>
    </div>
    </div>

</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>
