<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <!--script for datepicker-->
    <script>
    $(function() {
        $('input[name="daterange"]').daterangepicker({
            opens: 'right'
        }, 
        function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
        });
    </script>
</head>

<header>
    <% include ./partials/header %>
</header>

<main>
    <br>
    <h1>Make Boat Advertisement</h1>
    <form method="POST" action="/register/registerBoat" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Boat Name"/>
        <input type="text" name="model" placeholder="Make/Model"/>
        <input type="text" name="country" placeholder="Country"/>
        <p>STATE</p>
        <select name="state" size="3" multiple>
                <option value="NSW">NSW</option>
                <option value="QLD">QLD</option>
                <option value="other">other</option>
        </select>
        <p>PORT</p>
        <select name="port" size="3" multiple>
            <!--TODO: grab this list from DB and display by looping a JSON-->
            <option value="Eden">Eden</option>
            <option value="Bermagui">Bermagui</option>
            <option value="Batemans Bay">Batemans Bay</option>
            <option value="Ulludulla">Ulludulla</option>
            <option value="Kiama">Kiama</option>
            <option value="Jervis Bay">Jervis Bay</option>
            <option value="Sydney">Sydney</option>
            <option value="Pittwater">Pittwater</option>
            <option value="Brisbane Waters">Brisbane Waters</option>
            <option value="Lake Macquarie">Lake Macquarie</option>
            <option value="Newcastle">Newcastle</option>
            <option value="Port Stephens">Port Stephens</option>
            <option value="Foster">Foster</option>
            <option value="Port Macquarie">Port Macquarie</option>
            <option value="Coffs Harbour">Coffs Harbour</option>
            <option value="Clarence/Yamba">Clarence/Yamba</option>
            <option value="Ballina">Ballina</option>
            <option value="Tweed Heads">Tweed Heads</option>
        </select>
        <p>Description</p>
        <input type="textarea" name="description" placeholder="Boat Description"/>
        <p>Date Availability Range</p>
        <input name='daterange' type='text'/>
        <p>Upload Boat Pictures</p>
        <input type="file" name="fileToUpload" id="fileToUpload" multiple />
        <button type="submit">Create Boat</button>
    </form>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>