<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<header>
    <% include ./partials/header %>
</header>

<body>

<main>
     
     <div class ="bg-info text-white">
    	<h1 class="display-3 text-center">Contact Us</h1>
     </div>
     <div class="content">
  
  	 </div>
</main>

</body>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>