<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<header>
    <% include ./partials/header %>
</header>

<main>
    <h1>Something went wrong</h1>
    <p><%=err%></p>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>