<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<header>
    <% include ./partials/header %>
</header>

<main> 
    <br>
    <h1>RESET PASSWORD</h1>
        <form action="/login/resetPw" method="post" >
            <input type="email" name="email" placeholder="Enter email"/>
            <input type="submit" value="Reset Password" name="submit">
        </form>
    <br>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>