<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("./partials/head") %>
</head>

<header>
  <%- include ("./partials/header") %>
</header>

<body>

<main>

    <div class="container-hero">
      <div class="container-hero-text">
        <h1 class="display-3">Welcome to Marine Tasker</h1>
        <h3 style="margin-bottom:35px;">The #1 place to find boat tradespeople on <strong>demand</strong></h3>
        <a data-toggle="modal" data-target="#signupmodal"><button class="how-button" role="button">Register</button></a>
        <a href="/job/newjob"><button class = "how-button" role="button">Post A Job</button></a>
      </div>
    </div>

  <div class="container-fluid">

     <div class="container-about-us">
       <h1 style="color:#006ab6;text-transform: uppercase;text-align:center;">About Us</h1><hr>
       <h3 style="font-size:20px;">Founded in 2019, Marine Tasker is Australia's #1 platform to find qualified tradespeople near you who are willing to maintain and care for your boat.
         From mechanical engineering to detailing, Marine Tasker is the best place to identify and acquire the right skillset to suit your boating requirements and needs.
       If you're a qualified tradie, <strong>Register Now</strong> to get full access to potential job opportunities near you!</h3>

     </div>

            <div class="container-process">
              <h1 style="color:#006ab6;text-transform: uppercase;text-align:center;margin-top:20px;">How it Works</h1><hr>

              <div class="row">
                  <div class="col-md-4">
                    <div class="card-deck">
                        <img src="/images/vectors/step1.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                          <h4 class="card-title">List a Boat</h4>
                          <p class="card-text">As a boat owner, post a new job and depending on what maintenance work you require</p><br>
                          <a href="/job/newjob" class="card-button">Post a Job</a>
                        </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card-deck">
                        <img src="/images/vectors/step2.jpg" class="card-img-top" alt=""> <!-- image is hardcoded atm -->
                        <div class="card-body">
                          <h4 class="card-title">Connect with Tradesperson</h4>
                          <p class="card-text">Receive requests from registered and qualified tradepeople who can get the job done</p><br>
                          <a href="" class="card-button">Register</a>
                        </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card-deck">
                        <img src="/images/vectors/step3.jpg" class="card-img-top" alt=""> <!-- image is hardcoded atm -->
                        <div class="card-body">
                          <h4 class="card-title">Negotiate and Finalise</h4>
                          <p class="card-text">Respond to requests and confirm the maintenance work that is required along with the payment terms</p><br>
                          <a href="#" class="card-button">Learn More</a>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
  </div>

</main>

</body>

<footer>
  <div id="footer">
    <%- include ("./partials/footer") %>
  </div>
</footer>

</html>
