<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>

    <script>
        $(function() {
        $('input[name="daterange"]').daterangepicker({
            opens: 'right'
        }, 
        function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
         });
        });
    </script>

</head>

<header>
    <% include ./partials/header %>
</header>

<main>
    <body>

        <!--Carousel--->

    <div id="carousel" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
      </ul>
          <div class="carousel-inner">
              <div class="carousel-item active">
                
                <img src="/images/hero-image.jpg" class="img-responsive"/>

                <div class="welcome-msg carousel-caption">
                    <h1 class="display-2">Welcome to Yacht Sitters</h1>
                    <h3 class="display-3">Your next boat cruise is at your <strong>fingertips</strong></h3>
                </div>

                  <div class="col-lg-4 col-md-8 search-form carousel-caption">

                    <h4><strong>Book Your Boat Stay</strong></h4>
                    <hr>
                    <form method="POST" action="/search/results" id="form1">
                        <div class="form-group">
                          
                            <select name="country" class="browser-default custom-select">
                              <option value=""disabled selected>Select Country</option>  
                              <option value="NSW">Australia</option>
                              <option value="QLD">New Zealand</option>
                              <option value="VIC">Papua New Guinea</option>
                            </select>

                            <select name="state" class="browser-default custom-select">
                              <option value=""disabled selected>Choose State</option>  
                              <option value="NSW">NSW</option>
                              <option value="QLD">QLD</option>
                              <option value="VIC">VIC</option>
                              <option value="VIC">TAS</option>
                              <option value="VIC">SA</option>
                              <option value="VIC">WA</option>
                              <option value="VIC">NT</option>
                            </select>
                            <p><strong>Choose the dates you wish you to book:</strong></p>
  
                            <input name='daterange' placeholder="Choose your Dates" class="browser-default custom-select" type='text' id="form1"/>
                            <br>
                            <button role="button" type="submit" class="search-button">Search for Boats</button>
                        </div>
                    </form>
                  </div>

              </div>
              
          </div>
    </div>

      </body>
</main>

    <div class="content" id="results">

      <h1>Search Results</h1>

      <div class="col-md-12 card-columns">
                    <% if(typeof boats!="undefined") { %>
                <% boats.forEach(function(boat){ %>
                <a href="/users/<%=boat.Username%>/<%=boat.Type%>"></a>
  
                    <div class="card shadow">
                        <img class="card-img-top" src="/images/yacht1.jpg" alt=""> <!-- image is hardcoded atm -->
                        <div class="card-body">
                        <h4 class="card-title"><%= boat.Name %></h4>
                        <p class="card-text"><%= boat.Model %></p>
                        <a href="/users/<%=boat.Username%>/<%=boat.Type%>" class="btn btn-outline-secondary">View More Information</a>
                    </div>
                      </div>
                <% }) %>
                <% } %>
                </div>
    </div>

 

<footer>
    <% include ./partials/footer %>
</footer>

</html>