<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("./partials/head") %>
      <script>
                  $(document).ready(function() {
                    var btnState = true;

                    $('.status-button').hover(function(e) {
                      e.preventDefault();

                      if(btnState) {
                        $(this).html('Deactivate');
                        btnState = false;
                      } else {
                        $(this).html('Active');
                        btnState = true;
                      }
                    });
                  });
      </script>
</head>

<header>
  <%- include ("./partials/header") %>
</header>



<main>
    <body>
      <br><br>
          <div class="job-card">
              <form id="jobform" method='post'>
                <div class="card job-card">
                <div class="card-header" style="text-align:left; background-color:#006ab6; display:inline-block; color: white;">
                  <div class="row">
                    <div class="col-md-3 text-center" style="clear:both;"><h3 style="float:left;"><strong>Boat Name:</strong></h3> <h3 style="float:center; text-transform: capitalize;"><%=job.BoatName%></h3></div>
                    <div class="col-md-3 text-center" style="clear:both;"><h3 style="float:left;"><strong>Job Trade:</strong></h3><h3 style="float:center; text-transform: capitalize;"><%=job.trade%></h3></div>
                    <div class="col-md-3 text-center" style="clear:both;"><h3 style="float:left;"><strong>Subtype:</strong></h3><h3 style="float:center; text-transform: capitalize;"><%=job.subtype%></h3></div>
                    <div class="col-md-3 text-center" style="clear:both;"><h3 style="float:left;"><strong>Status:</strong></h3> <h3 style="float:center; text-transform: capitalize;"><%=job.status%></h3></div>
                  </div>
                </div>
                  <div class="card-body">
                    <p style="font-size: 20px;font-weight:bold"><strong>Description:</strong></p>
                    <p style="font-size: 18px;"><%=job.jobDesc%></p>

                    <p style="font-size: 20px;font-weight:bold"><strong>Details:</strong></p>
                    <p style="font-size: 18px;"><%=job.extraDetails%></p><br>

                    <button type="submit" formaction="/job/accept/<%=job.username%>/<%=job.type%>" form="jobform" class="view-button">Accept</button>
                    <button type="submit" formaction="/job/cancel/<%=job.username%>/<%=job.type%>" form="jobform" class="cancel-button">Cancel</button>
                  </div>
                </div>

              </form>
           </div>
    </body>
</main>

<footer>
  <div id="footer">
    <%- include ("./partials/footer") %>
  </div>
</footer>

</html>
