<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("./partials/head") %>
      <script>
                  $(document).ready(function() {
                    var btnState = true;

                    $('.status-button').hover(function(e) {
                      e.preventDefault();

                      if(btnState) {
                        $(this).html('Deactivate');
                        btnState = false;
                      } else {
                        $(this).html('Active');
                        btnState = true;
                      }
                    });
                  });
      </script>
</head>

<header>
  <%- include ("./partials/header") %>
</header>



<main>
    <body>
        <br><br><br><br>

        <%
            jobs.forEach(function(job){ %>
            <div class="container">
              <form id="jobform" method='post'>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Boat Name</th>
                    <th>Job Trade</th>
                    <th>Subtype</th>
                    <th>Job Description</th>
                    <th>Job Details</th>
                    <th>Actions</th>
                    <th>Status</th>
                  </tr>
               </thead>
               <tbody>
                 <tr>
                   <td><%=job.boatName%></td>
                   <td><%=job.trade%></td>
                   <td><%=job.subtype%></td>
                   <td><p><%=job.jobDesc%></td>
                   <td><p><%=job.extraDetails%></p></td>
                   <td><p><%=job.status%></p></td>
                   <td>
                       <button type="submit" formaction="/job/accept/<%=job.username%>/<%=job.type%>" form="jobform" class="btn btn-success">Accept</button>
                   </td>
                 </tr>
               </tbody>
             </table>
            </form>
           </div>
           <% }) %>
    </body>
</main>

<footer>
<div id="footer">
  <%- include ("./partials/footer") %>
</div>
</footer>


</html>
