<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("./partials/head") %>
</head>

<header>
  <%- include ("./partials/header") %>
</header>

<main>
<body>

  <script src="/js/Forms.js"></script>
  <%- include ("./partials/jobmodals") %>
  <br><br><br><br>

  <h1 style="text-align:center;color:#006ab6;">Post a New Job<h1>

  <p style="text-align:center;color:#006ab6;font-size: 20px;font-weight:light;">Choose a job category you'd like to post a new job</p>
  <hr>

  <div class="row">

      <div class="col-md-4">
        <div class="card bg-light">
          <div class="card-body text-center">

            <a data-toggle="modal" data-target="#engineermodal">Engineering & Mechanical</a>
            <!--Engineering/Mechanical/Electrical : For all your engine & generator servicing and repairs, marine electricians, batteries and bow thrusters, electronic navigation and auto-pilot systems, hydraulic installations/maintenance and repair along with fabrication of stainless steel/custom parts.-->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card bg-light">
          <div class="card-body text-center">

            <a data-toggle="modal" data-target="#sailmakermodal">Rigging & Sails</a><br>
            <!--Rigging & Sails : For all you rigging needs, including masts, booms, standing/running rigging, deck hardware, new & used sails and repairs.-->
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card bg-light">
        <div class="card-body text-center">

          <a data-toggle="modal" data-target="#shipwrightmodal">Boatbuilding & Shipwrights</a>
          <!--Boatbuilding/Shipwrights : For all your ship construction needs, refits and repairs regardless of make or model, this is the place to seek out qualified tradesman for you vessel that work with fibreglass, steel & timber and the painting or touching up of damage. Replacement of thru hull fittings, rudder and keel repairs or interior carpentry and joinery.-->
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card bg-light">
        <div class="card-body text-center">

          <a data-toggle="modal" data-target="#plumbermodal">Plumbing & Refrigeration</a>
          <!--Plumbing/Gas/AC and Refrigeration : For all your plumbing, gas, refrigeration, air conditioning and desalination needs.-->
        </div>
      </div>
    </div>

  <div class="col-md-4">
    <div class="card bg-light">
      <div class="card-body text-center">

        <a data-toggle="modal" data-target="#detailermodal">Detailing & Cleaning</a>
        <!--Detailing/Cleaning: For both interior and exterior needs, including divers for underwater hull maintenance, hull polishing, teak cleaning, upholstery, this is also the place for all your canvass and clears.-->
      </div>
    </div>
</div>

  <div class="col-md-4">
    <div class="card bg-light">
      <div class="card-body text-center">

        <a data-toggle="modal" data-target="#examplemodal" role="button">Other</a>
      </div>
    </div>
  </div>

</div>

<!--Example Modals
  <a class="btn btn-success" data-toggle="modal" data-target="#examplemodal" role="button">Other</a>
  <a class="btn btn-success" data-toggle="modal" data-target="#mapmodal" role="button"">Map Modal Example</a>
  <button type="button" class="navigation-button" onClick="testDoc()" data-dismiss="modal" data-toggle="" >testDoc()</button>
-->
<hr>
</body>
</main>

<footer>
<div id="footer">
  <%- include ("./partials/footer") %>
</div>
</footer>

</html>
