<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("./partials/head") %>
      <script>
                  $(document).ready(function() {
                    var btnState = true;

                    $('.status-button').hover(function(e) {
                      e.preventDefault();

                      if(btnState) {
                        $(this).html('Deactivate');
                        btnState = false;
                      } else {
                        $(this).html('Active');
                        btnState = true;
                      }
                    });
                  });
      </script>
</head>

<header>
  <%- include ("./partials/header") %>
  <%- include ("./partials/photomodal") %>
  <%- include ("./partials/owneraccountsettingsmodal") %>
</header>

<main>
<body>

<div class="row">
    <!-- Account Sidebar-->
    <div class="container col-md-4">

        <div class="author-card pb-2">
            <div class="author-card-cover" style="background-image: url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);"><a class="btn btn-style-1 btn-white btn-sm" href="#" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward points to spend"><i class="fa fa-award text-md"></i>&nbsp;290 points</a></div>
            <div class="author-card-profile">
                <div class="author-card-avatar"><img src="<%-owner.profileImageUrl%>" alt="Please upload image">
                </div>
                <div class="author-card-details">
                    <h5 class="author-card-name text-lg"><%= owner.firstName + " " + owner.lastName%></h5><span class="author-card-position">Joined November 06, 2019</span>
                </div>
            </div>
        </div>
        <div class="wizard">
            <nav class="list-group list-group-flush">
                <a class="list-group-item" data-dismiss="modal" data-toggle="modal" data-target="#changeOwnerAccountSettings"><i class="fa fa-user text-muted"></i>Account Settings</a>
                <a class="list-group-item" data-dismiss="modal" data-toggle="modal" data-target="#changephoto"><i class="fa fa-user-circle text-muted"></i>Change Profile Photo</a>
                <!--<a class="list-group-item" href="#"><i class="fa fa-map-marker text-muted"></i>Sydney, Australia</a>-->
            </nav>
        </div>

  </div>

  <div class="col-md-8 owner-profile">
  <style>
    li {float:left}
  </style>
<% if(loggedIn){%>
   <br>

 <div id="accordion">
 <div class="card">
   <div class="card-header" id="headingOne">
     <h5 class="mb-0">
       <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         My Job Postings
       </button>
     </h5>
   </div>

   <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
     <div class="card-body">
       <a href="/job/newjob"><button class="create-button" style="margin-left: 14px;"role="button">Post New Job</button></a>

        <div class="col-md-12">
        <form id="jobform" method='post'>

          <% var jobs = owner.jobs
             jobs.forEach(function(job){ %>

          <div class="card">
            <!--<img class="card-img-top" src="img_avatar1.png" alt="Card image">-->
              <div class="card-body">
                <h5 class="card-title"><%=job.boatName%></h5>
                <p class="card-text" style="font-weight:bold; font-size:14px; text-transform:capitalize;"><%=job.trade%></p>
                <p class="card-text"><%=job.Desc%></p>
                <a href="/job/<%=job.username%>/<%=job.type%>"><i class="fa fa-info-circle"></i>View</a>
                <a href=""><i class="fa fa-pencil-square-o"></i>Edit</a>
                <button type="submit"  formaction="/job/delete/<%=job.username%>/<%=job.type%>" class="discard-button" form="jobform"><i class="fa fa-exclamation-triangle"></i>Delete</button>
              </div>
          </div>

        <% }) %>
         </form>
        </div>
     </div>
   </div>
 </div>

 <br>

<!--My Boats commented out - To be used in later release -->
<!--
 <div class="card">
   <div class="card-header" id="headingTwo">
     <h5 class="mb-0">
       <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         My Boats
       </button>
     </h5>
   </div>
   <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
     <div class="card-body">
       <a data-dismiss="modal" data-toggle="modal" data-target="#newBoatModal"><button class = "create-button" role="button">Add Boat</button></a>
     </div>
   </div>
 </div>
-->

 <br>
 <div class="card">
   <div class="card-header" id="headingThree">
     <h5 class="mb-0">
       <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         My Job History
       </button>
     </h5>
   </div>
   <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">

     <div class="card-body">


     </div>
   </div>
 </div>
</div>

   <%}%>

</div>
</div>

   <!-- End of Row -->

   <div id="newBoatModal" class="modal fade modal-fullscreen" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <form method="POST" action="/register/registerBoat" enctype="multipart/form-data">
        <div class="modal-header">
          <h4 class="modal-title">List New Boat</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <p><strong>Please fill out the form below to list a new boat</strong></p>

          <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Boat Name</span>
          </div>
          <input type="text" required="required" placeholder="Boat Name" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>


          <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Model</span>
          </div>
          <input type="text" required="required" placeholder="Make/Model" name="model" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>


          <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Country</span>
          </div>
          <input type="text" required="required" placeholder="Country" name="country" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>

          <label class="mdb-main-label">Select State</label>
        <select name="state" class="browser-default custom-select">
          <option value="NSW">NSW</option>
          <option value="QLD">QLD</option>
          <option value="VIC">VIC</option>
        </select>

          <!--TODO: grab this list from DB and display by looping a JSON-->
          <label class="mdb-main-label">Select Port</label>
          <select name="port" class="browser-default custom-select">
            <option value="Eden">Eden</option>
            <option value="Bermagui">Bermagui</option>
            <option value="Batemans Bay">Batemans Bay</option>
            <option value="Ulludulla">Ulludulla</option>
            <option value="Kiama">Kiama</option>
            <option value="Jervis Bay">Jervis Bay</option>
            <option value="Sydney">Sydney</option>
            <option value="Pittwater">Pittwater</option>
            <option value="Brisbane Waters">Brisbane Waters</option>
            <option value="Lake Macquarie">Lake Macquarie</option>
            <option value="Newcastle">Newcastle</option>
            <option value="Port Stephens">Port Stephens</option>
            <option value="Foster">Foster</option>
            <option value="Port Macquarie">Port Macquarie</option>
            <option value="Coffs Harbour">Coffs Harbour</option>
            <option value="Clarence/Yamba">Clarence/Yamba</option>
            <option value="Ballina">Ballina</option>
            <option value="Tweed Heads">Tweed Heads</option>
          </select>

        <label class="mdb-main-label">Description</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
          </div>
          <input type="textarea" placeholder="Boat Description" name="description" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        <label class="mdb-main-label">Select Availability Dates</label>
        <div class="input-group mb-3">
        <input name='daterange' type='text'/>
        </div>
        <br>
        <label class="mdb-main-label">Upload Boat Picture(s)</label>
        <div class="input-group mb-3">
        <input type="file" name="fileToUpload" id="fileToUpload" multiple />
        </div>
        <button type="submit" class="create-button">Create Boat</button>
        <button type="button" class="delete-button" data-dismiss="modal">Cancel</button>
        </div>

        <div class="modal-footer">
          <p>By listing a new boat, you agree to our
          <a href="" target="_blank">terms of service</a></p>
        </div>
      </form>
      </div>

    </div>
  </div>


<br><br>

</body>
</main>

<footer>
<div id="footer">
  <%- include ("./partials/footer") %>
</div>
</footer>


</html>
