<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
</head>
<body class="container">

<header>
    <%- include ("./partials/header") %>
</header>

<main>
    <br>
    <br>
    <br>
    <br>
    <p>under construction </p>
    <form>
        <p>amount $10.00</p>
        <script src="//checkout.stripe.com/v2/checkout.js",
        class="stripe-button",
        data-key="<%=keyPublishable%>",
        data-locale="auto",
        data-description="Sample payment: Supported by Stripe Pay.",
        data-amount="1000"></script>
    </form>
</main>

<footer>
    <%- include ("./partials/footer") %>
</footer>

</body>
</html>
