<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
</head>
<body>

<header>
    <%- include ("./partials/header") %>
</header>

<main>

     <div class="content">
      	<div class ="jumbotron jumbotron-fluid bg-info text-white">
        <h1 class="display-3 text-center">Pricing</h1>
        <p>Yacht Owners, congratz this is a free service, thanks for supporting our platform.</p>
        <p>Tradesmens cost: $5 per month. Tradesmen service is free signup during our Beta Service</p>
        <%if(loggedIn){%>
            <a href="/payment" class="button">Tradesmen Payment Page</a>
        <%}else{%>
            <button type="button" class="navigation-button" data-dismiss="modal" data-toggle="modal" data-target="#loginmodal" >Sign In/Sign Up</button>
            <%}%>
    </div>
  </div>
    
</main>

</body>

<footer>
    <%- include ("./partials/footer") %>
</footer>


</html>