<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
        <h2> PRIVACY POLICY </h2>

        <p> We dont do anything with your data except within the bounds of this website. We dont store any Card information, it is all handled by someone else because fuck being hacked and being responsible for that shit </p>
        
        <p>This wil definitely need to be updated. </p>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>