
   <div id="newBoatModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <form method="POST" action="/register/registerBoat" enctype="multipart/form-data">
        <div class="modal-header">
          <h4 class="modal-title">List New Boat</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          <p><strong>Please fill out the form below to list a new boat</strong></p>

          <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Boat Name</span>
          </div>
          <input type="text" required="required" placeholder="Boat Name" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          

          <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Model</span>
          </div>
          <input type="text" required="required" placeholder="Make/Model" name="model" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          

          <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Country</span>
          </div>
          <input type="text" required="required" placeholder="Country" name="country" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>

          <label class="mdb-main-label">Select State</label>
        <select name="state" class="browser-default custom-select">
          <option value="NSW">NSW</option>
          <option value="QLD">QLD</option>
          <option value="VIC">VIC</option>
        </select>
          
          <!--TODO: grab this list from DB and display by looping a JSON-->
          <label class="mdb-main-label">Select Port</label>
          <select name="port" class="browser-default custom-select">
            <option value="Eden">Eden</option>
            <option value="Bermagui">Bermagui</option>
            <option value="Batemans Bay">Batemans Bay</option>
            <option value="Ulludulla">Ulludulla</option>
            <option value="Kiama">Kiama</option>
            <option value="Jervis Bay">Jervis Bay</option>
            <option value="Sydney">Sydney</option>
            <option value="Pittwater">Pittwater</option>
            <option value="Brisbane Waters">Brisbane Waters</option>
            <option value="Lake Macquarie">Lake Macquarie</option>
            <option value="Newcastle">Newcastle</option>
            <option value="Port Stephens">Port Stephens</option>
            <option value="Foster">Foster</option>
            <option value="Port Macquarie">Port Macquarie</option>
            <option value="Coffs Harbour">Coffs Harbour</option>
            <option value="Clarence/Yamba">Clarence/Yamba</option>
            <option value="Ballina">Ballina</option>
            <option value="Tweed Heads">Tweed Heads</option>
          </select>

        <label class="mdb-main-label">Description</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
          </div>
          <input type="textarea" placeholder="Boat Description" name="description" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        <label class="mdb-main-label">Select Availability Dates</label>
        <div class="input-group mb-3">
        <input name='daterange' type='text'/>
        </div>
        <br>
        <label class="mdb-main-label">Upload Boat Picture(s)</label>
        <div class="input-group mb-3">
        <input type="file" name="fileToUpload" id="fileToUpload" multiple />
        </div>
        <button type="submit" class="create-button">Create Boat</button>
        <button type="button" class="delete-button" data-dismiss="modal">Cancel</button>
        </div>

        <div class="modal-footer">
          <p>By listing a new boat, you agree to our
          <a href="" target="_blank">terms of service</a></p>
        </div>
      </form>
      </div>
      
    </div>
  </div>