<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("./partials/head") %>
      <script>
                  $(document).ready(function() {
                    var btnState = true;

                    $('.status-button').hover(function(e) {
                      e.preventDefault();

                      if(btnState) {
                        $(this).html('Deactivate');
                        btnState = false;
                      } else {
                        $(this).html('Active');
                        btnState = true;
                      }
                    });
                  });
      </script>
</head>

<header>

</header>

<main>
<body>

<div>
    <h1>Password Reset</h1>
    <form method="POST" action="/user/newPassword">
        <div class="modal-body mx-6">
          <!--Body-->
            <div class="md-form mb-5">
            <label data-error="wrong" data-success="right" for="Form-email1">Enter new password</label>
            <input type="password" name="password" id="password" required="required" placeholder="New Password" class="form-control validate">
            </div>
            <div class="md-form pb-3">
            <label data-error="wrong" data-success="right" for="Form-pass1">Enter new password again</label>
            <input type="password" name="passwordCheck" id="passwordCheck" required="required" placeholder="Enter again" class="form-control validate">
            </div>
            <input type="hidden" name="username" value = "<%=username%>"/>
            <input type="hidden" name="passwordHash" value ="<%=passwordHash%>"/>
            <input type="hidden" name="type" value ="<%=type%>"/>
            <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary btn-block btn-rounded z-depth-1a">Submit new password</button>
            </div>
        </div>
            </form>
</div>

</body>
</main>

<footer>
<div id="footer">
  <%- include ("./partials/footer") %>
</div>
</footer>

</html>
