<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<header>
    <% include ./partials/header %>
</header>

<body>

    <div class ="jumbotron jumbotron-fluid bg-info text-white">
            <h1 class="display-4 text-center">Search Results</h1>
    </div>
    
    <div class="content">
       
                <div class="col-md-12 card-columns">
                    <% if(boats) { %>
                <% boats.forEach(function(boat){ %>
                <a href="/users/<%=boat.Username%>/<%=boat.Type%>"></a>
  
                    <div class="card shadow">
                        <img class="card-img-top" src="/images/yacht1.jpg" alt=""> <!-- image is hardcoded atm -->
                        <div class="card-body">
                        <h4 class="card-title"><%= boat.Name %></h4>
                        <p class="card-text"><%= boat.Model %></p>
                        <a href="/users/<%=boat.Username%>/<%=boat.Type%>" class="btn btn-outline-secondary">View More Information</a>
                    </div>
                      </div>
                <% }) %>
                <% } %>
                </div>
        
        </div>
       

</body>

<footer>
    <% include ./partials/footer %>
</footer>

</html>
