<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
</head>
<body>

<header>
    <%- include ("./partials/header") %>
</header>

<main>
    <br><br><br><br>
    <form>
        <button type="submit" formmethod="post" formaction="/user/settype/owner">Sign up as Boat Owner</button><button type="submit" formmethod="post" formaction="/user/settype/tradie">Sign up as Tradie</button>
    </form>
    <br>
      	
</main>

</body>

<footer>
    <%- include ("./partials/footer") %>
</footer>
</html>