<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("./partials/head") %>
  <script>
    $(document).ready(function () {
      var btnState = true;

      $('.status-button').hover(function (e) {
        e.preventDefault();

        if (btnState) {
          $(this).html('Deactivate');
          btnState = false;
        } else {
          $(this).html('Active');
          btnState = true;
        }
      });
    });
  </script>
</head>

<header>
  <%- include ("./partials/header") %>
  <%- include ("./partials/photomodal") %>
  <%- include ("./partials/tradieaccountsettingsmodal") %>

</header>

<main>

  <body>

    <div class="row">

      <div class="container col-md-4">
        <!-- Account Sidebar-->
        <div class="author-card pb-3">
          <div class="author-card-cover"
            style="background-image: url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);"><a
              class="btn btn-style-1 btn-white btn-sm" href="#" data-toggle="tooltip" title=""
              data-original-title="You currently have 290 Reward points to spend"><i
                class="fa fa-award text-md"></i>&nbsp;290 points</a></div>
          <div class="author-card-profile">
            <div class="author-card-avatar"><img src="<%-tradie.profileImageUrl%>" alt="Please upload image">
            </div>
            <div class="author-card-details">
              <h5 class="author-card-name text-lg"><%= tradie.firstName + " " + tradie.lastName%></h5><span
                class="author-card-position">Joined November 06, 2019</span>
            </div>
          </div>
        </div>
        <div class="wizard">
          <nav class="list-group list-group-flush">
            <a class="list-group-item" data-dismiss="modal" data-toggle="modal"
              data-target="#changetradieAccountSettings"><i class="fa fa-cog text-muted"></i>Account Settings</a>
            <a class="list-group-item" data-dismiss="modal" data-toggle="modal" data-target="#changephoto"><i
                class="fa fa-user-circle text-muted"></i>Change Profile Photo</a>
            <a class="list-group-item" data-dismiss="modal" data-toggle="modal" data-target="#mapmodal"><i
                class="fa fa-map-pin text-muted"></i>Set Work Location</a>
            <!--<a class="list-group-item" href="#"><i class="fa fa-map-marker text-muted"></i>Sydney, Australia</a>-->
            <!--<a class="list-group-item" data-dismiss="modal" data-toggle="modal" data-target="#"><i class="fa fa-heart mr-1 text-muted"></i>My Reviews</a>-->
          </nav>
        </div>
      </div>


      <div class="col-md-8 tradie-profile">

        <% if(loggedIn){%>

        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  My Jobs
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div class="col-md-12">
                <form id="jobform" method='post'>

                  <% var jobs = tradie.jobs
                     jobs.forEach(function(job){ %>

                       <div class="card">
                         <!--<img class="card-img-top" src="img_avatar1.png" alt="Card image">-->
                           <div class="card-body">
                             <h5 class="card-title"><%=job.boatName%></h5>
                             <p class="card-text" style="font-weight:bold; font-size:14px; text-transform:capitalize;"><%=job.trade%></p>
                             <p class="card-text"><%=job.Desc%></p>
                             <a href="/job/<%=job.username%>/<%=job.type%>"><i class="fa fa-info-circle"></i>View</a>
                             <a href=""><i class="fa fa-pencil-square-o"></i>Edit</a>
                             <button type="submit"  formaction="/job/delete/<%=job.username%>/<%=job.type%>" class="discard-button" form="jobform"><i class="fa fa-exclamation-triangle"></i>Delete</button>
                           </div>
                       </div>

                  <% }) %>
                 </form>
                </div>
              </div>
            </div>
          </div>

          <br>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  My Preferences
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">

              <div class="card-body">
                <div class="col-md-12">
                <form method="POST" action="/user/tradie/submitPreferences">
                  <h2>My Preferences</h2>
                  <p style="text-align:center; font-size:18px; font-weight: bold; color: blue;">Select the following job categories which you would like to be notified</p>

                    <input type="checkbox" class="jobcheckbox" id="Engineer">
                    <h4>Engineer</h4></input>
                    <div id="EngineerSub" style="display:none">
                    <div name="EngineerSelect" id="EngineerSelect">
                        <input type="checkbox" name="servicing" value="servicing">Engine/Generator service and repairs</input>
                        <input type="checkbox" name="electrician" value="electrician">Marine Electrician</input>
                        <input type="checkbox" name="systems" value="systems">Electrical Systems (nav, auto-pilot)</input>
                        <input type="checkbox" name="hydraulic" value="hydraulic">Hydraulic installation and repairs</input>
                        <!--<option value="servicing">Engine/Generator service and repairs</option>
                        <option value="electrician">Marine Electrician</option>
                        <option value="systems">Electrical Systems (nav, auto-pilot)</option>
                        <option value="hydraulic">Hydraulic installation and repairs</option>-->
                      </div>
                    </div>

                    <input type="checkbox" class="jobcheckbox" id="RiggingSails">
                    <h4>RiggingSails</h4></input>
                    <div id="RiggingSailsSub" style="display:none">
                      <div name="RiggingSailsSelect" id="RiggingSailsSelect" multiple>
                        <input type="checkbox" name="sails" value="sails">Sail making and repairs</input>
                        <input type="checkbox" name="rigginghardware" value="rigginghardware">Deck hardware</input>
                        <input type="checkbox" name="rigging" value="rigging">Mast and boom rigging</input>
                        <!--<option value="sails">Sail making and repairs</option>
                        <option value="rigginghardware">Deck hardware</option>
                        <option value="rigging">Mast and boom rigging</option>-->
                      </div>
                    </div>

                    <input type="checkbox" class="jobcheckbox" id="Shipwright">
                    <h4>Shipwright</h4></input>
                    <div id="ShipwrightSub" style="display:none">
                      <div name="ShipwrightSelect" id="ShipwrightSelect" multiple>
                        <input type="checkbox" name="fibreglass" value="fibreglass">Fibreglass work</input>
                        <input type="checkbox" name="steel" value="steel">Steel work</input>
                        <input type="checkbox" name="timber" value="timber">Timber work</input>
                        <input type="checkbox" name="painting" value="painting">Painting</input>
                        <input type="checkbox" name="hull" value="hull">Hull, rudder and keel repairs</input>
                        <input type="checkbox" name="joinery" value="joinery">Interior carpentry and joinery</input>
                        <!--<option value="fibreglass">Fibreglass work</option>-->
                        <!--<option value="steel">Steel work</option>
                        <option value="timber">Timber work</option>
                        <option value="painting">Painting</option>
                        <option value="hull">Hull, rudder and keel repairs</option>
                        <option value="joinery">Interior carpentry and joinery</option>-->
                      </div>
                    </div>

                    <input type="checkbox" class="jobcheckbox" id="Plumber">
                    <h4>Plumber</h4></input>
                    <div id="PlumberSub" style="display:none">
                      <div name="PlumberSelect" id="PlumberSelect" multiple>
                        <input type="checkbox" name="desalination" value="desalination">Desalination installation and repairs</input>
                        <input type="checkbox" name="plumbing" value="plumbing">Plumbing</input>
                        <input type="checkbox" name="gas" value="gas">Gas needs</input>
                        <input type="checkbox" name="aircon" value="aircon">Air Conditioning</input>
                        <input type="checkbox" name="refrigeration" value="refrigeration">Refrigeration</input>
                        <!--<option value="desalination">Desalination installation and repairs</option>
                        <option value="plumbing">Plumbing</option>
                        <option value="gas">Gas needs</option>
                        <option value="aircon">Air conditioning</option>
                        <option value="refrigeration">Refrigeration</option>-->
                      </div>
                    </div>

                    <input type="checkbox" class="jobcheckbox" id="Detailing" >
                    <h4>Detailing</h4></input>
                    <div id="DetailingSub" style="display:none">
                      <div name="DetailingSelect" id="DetailingSelect" multiple>
                        <input type="checkbox" name="diving" value="diving">Divers for underwater hull maintenance</input>
                        <input type="checkbox" name="polishing" value="polishing">Polishing</input>
                        <input type="checkbox" name="teak" value="teak">Teak cleaning</input>
                        <input type="checkbox" name="upholstery" value="upholstery">Canvas and clears</input>
                        <!--<option value="diving">Divers for underwater hull maintenance</option>
                        <option value="polishing">Polishing</option>
                        <option value="teak">Teak cleaning</option>
                        <option value="upholstery">Canvas and clears</option>-->
                        </div>
                      </div>


                    <input type="submit" class="navigation-button" value="Submit">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%}else{%>

        <br><br>
        <p>username:<%-tradie.username%></p>
        <p>location:<%-tradie.location%></p>
        <p>type:<%-tradie.type%></p>
        <p>email: <%-tradie.email%></p>
        <p>Job preferences: <%-tradie.preferences%></p>

        <%}%>

</div>
</div>


<script>

  function checkboxDiv() {
    var id = ['Engineer', 'Plumber', 'Shipwright', 'Detailing', 'RiggingSails']
    id.forEach(function (element) {
      document.getElementById(element).onclick = function () {
        var sendid = element + 'Sub'
        toggleSub(this, sendid);
      };
    });
  }
  checkboxDiv()

  function toggleSub(box, id) {
    // get reference to related content to display/hide
    var el = document.getElementById(id);
    if (box.checked) {
      el.style.display = 'block';
    } else {
      el.style.display = 'none';
    }
  }

</script>

<!-- Map Modal -->
<div class="modal fade" id="mapmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Boat Location</strong>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
        <div class="modal-body mx-6">
          <!--Body-->
          <div class="md-form pb-3">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9lvMGvVwaNy42byCvEMUtzxpkLWbINkw&callback=map" defer></script>
            <div id="map" style="width:100%;height:400px;"></div>
          </div>
          <label for="distancePref">Distance of jobs from set location</label>
          <select id="distancePref" name="distancePref">
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="75">75</option>
            <option value="100">100</option>
            <option value="150">150</option>
            <option value="200">200</option>
          </select> km
<button type="button" class="navigation-button" onClick ="submitTradieLocation()">Submit work location and distance</button>

</div>


<script src="/js/Forms.js"></script>
<script>
  function map() {

    /*Map initialze*/
    var mapProp = {
      center: new google.maps.LatLng(-33.853291, 151.238470),
      zoom: 12,
    };
    var map = new google.maps.Map(document.getElementById("map"), mapProp);
    onemarker(map)

  }

  function onemarker(map) {
    var previousmarker;
    map.addListener('click', function (event) {
      addMarker(event.latLng);
    });

    function addMarker(location) {
      var marker = new google.maps.Marker({
        position: location,
        map: map
      });
      if (previousmarker) {
        previousmarker.setMap(null);
      }
      previousmarker = marker;
      setGlobalLocation(location);
    }
  }

</script>
    </div>
  </div>
</div>

</body>
</main>

<footer>
<div id="footer">
  <%- include ("./partials/footer") %>
      </div>
      </footer>

</html>
