<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("./partials/head") %>
      <script>
                  $(document).ready(function() {
                    var btnState = true;

                    $('.status-button').hover(function(e) {
                      e.preventDefault();

                      if(btnState) {
                        $(this).html('Deactivate');
                        btnState = false;
                      } else {
                        $(this).html('Active');
                        btnState = true;
                      }
                    });
                  });
      </script>
</head>

<header>
  <%- include ("./partials/header") %>
</header>

<main>
<body>

  <div class="row">

  <div class="col-md-3 profile">
      
   <div class="profile-card">
           <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-2" alt="" style="width:80%;margin:10px;">
           <button type="button" class="navigation-button" onClick="" data-dismiss="modal" data-toggle="modal" data-target="#changephoto" >Change profile photo</button>
            <p class="profile-name"><%= user.FirstName + " " + user.LastName%></p>
            <p class="profile-location">Sydney, Australia</p>
            <p><strong>Member Since:</strong> May 2020</p>
            <p><strong>Last Login:</strong> <%=new Date(user.LastLoggedIn).toDateString()%></p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span> 
            <br><br>
    
   </div>

   </div>

   <div class="col-md-7 requests">
      

     <div class="requests-card">
        <!-- List of Requests-->

        <h2 style="text-align: center">My Jobs</strong></h2>
              <% jobs.forEach(function(job){ %>
              <!-- Start of Cards-->
              
            <div class="col-12 card shadow">
                  
              <div class="card-body">
                <h4 class="card-title"><%=job.boatName%></h4>
                <p><%=job.jobDesc%></p>
                <button type ="button" class="view-button">View</button>
                <button type ="button" class="discard-button">Edit</button>
              </div>
            </div>
              <% }) %>       
                    
        </div>
              
    </div>
 </div>

    <!-- Modal Forms Starts here -->


    <!-- Modal -->
  <div id="newBoatModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <form method="POST" action="/register/registerBoat" enctype="multipart/form-data">
        <div class="modal-header">
          <h4 class="modal-title">List New Boat</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          <p><strong>Please fill out the form below to list a new boat</strong></p>

          <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Boat Name</span>
          </div>
          <input type="text" required="required" placeholder="Boat Name" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          

          <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Model</span>
          </div>
          <input type="text" required="required" placeholder="Make/Model" name="model" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          

          <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Country</span>
          </div>
          <input type="text" required="required" placeholder="Country" name="country" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>

          <label class="mdb-main-label">Select State</label>
        <select name="state" class="browser-default custom-select">
          <option value="NSW">NSW</option>
          <option value="QLD">QLD</option>
          <option value="VIC">VIC</option>
        </select>
          
          <!--TODO: grab this list from DB and display by looping a JSON-->
          <label class="mdb-main-label">Select Port</label>
          <select name="port" class="browser-default custom-select">
            <option value="Eden">Eden</option>
            <option value="Bermagui">Bermagui</option>
            <option value="Batemans Bay">Batemans Bay</option>
            <option value="Ulludulla">Ulludulla</option>
            <option value="Kiama">Kiama</option>
            <option value="Jervis Bay">Jervis Bay</option>
            <option value="Sydney">Sydney</option>
            <option value="Pittwater">Pittwater</option>
            <option value="Brisbane Waters">Brisbane Waters</option>
            <option value="Lake Macquarie">Lake Macquarie</option>
            <option value="Newcastle">Newcastle</option>
            <option value="Port Stephens">Port Stephens</option>
            <option value="Foster">Foster</option>
            <option value="Port Macquarie">Port Macquarie</option>
            <option value="Coffs Harbour">Coffs Harbour</option>
            <option value="Clarence/Yamba">Clarence/Yamba</option>
            <option value="Ballina">Ballina</option>
            <option value="Tweed Heads">Tweed Heads</option>
          </select>

        <label class="mdb-main-label">Description</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
          </div>
          <input type="textarea" placeholder="Boat Description" name="description" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        <label class="mdb-main-label">Select Availability Dates</label>
        <div class="input-group mb-3">
        <input name='daterange' type='text'/>
        </div>
        <br>
        <label class="mdb-main-label">Upload Boat Picture(s)</label>
        <div class="input-group mb-3">
        <input type="file" name="fileToUpload" id="fileToUpload" multiple />
        </div>
        <button type="submit" class="create-button">Create Boat</button>
        <button type="button" class="delete-button" data-dismiss="modal">Cancel</button>
        </div>

        <div class="modal-footer">
          <p>By listing a new boat, you agree to our
          <a href="" target="_blank">terms of service</a></p>
        </div>
      </form>
      </div>
      
    </div>
  </div>
</div>
<br><br>

<div id="changephoto" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <div class="modal-content form-elegant">
        <form action="/users/submit" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <h4 class="modal-title">Upload New Photo</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body form-elegant">
          
             <div class="input-group mb-3">
                <input type="file" name="fileToUpload" id="fileToUpload">
             </div>
                <input type="submit" class="create-button" value="Upload Image" name="image">
        </div>
       
        <div class="modal-footer form-elegant">
          <p>By uploading a profile image, you agree to our
          <a href="" target="_blank">privacy policy</a></p>
        </div>
        </form>
    </div>
    </div>
</div>


</body>
</main>

<footer>
  <%- include ("./partials/footer") %>
</footer>


</html>