<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("./partials/head") %>
</head>

<body>

  <header>

  <%- include ("./partials/header") %>

</header>

<body>
<main>

  <div class="container-signup">

  <!-- Default form register -->
  <form method="POST" action="/user/register/submit" class="text-center border border-light p-5">

      <h1 class="display-3">Sign up</p>
      <div class="md-form pb-3">

              <!-- First name -->
              <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="firstName" placeholder="First Name" required="required">
              <!-- Last name -->
              <input type="text" id="defaultRegisterFormLastName" class="form-control" name="lastName" placeholder="Last Name" required="required">
      <!-- E-mail -->
      <input type="email" id="defaultRegisterFormEmail" class="form-control" name="email" placeholder="Email" required="required">
      <!-- Phone number -->

      <!-- Password -->
      <input type="password" id="defaultRegisterFormPassword" class="form-control" name="password" placeholder="Password" required="required" aria-describedby="defaultRegisterFormPasswordHelpBlock">
      <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      </small>
      <!-- Confirm Pass -->
      <input type="password" id="defaultRegisterFormPassword" class="form-control" name="confirmPassword" placeholder="Confirm Password (At least 6 characters and 1 digit)" required="required" aria-describedby="defaultRegisterFormPasswordHelpBlock">
            <!-- YachtOwner or Tradesmen -->

      <h3>Please select account type:</h3>
        <p>Yacht Owner</p>
        <input type="radio" id="owner" name="type" value="owner">
        <p>Tradesperson</p>
        <input type="radio" id="tradie" name="type" value="tradie">


      <!-- Newsletter -->
      <div class="custom-control custom-checkbox">
        <p>Subscribe to our newsletter</p>
          <input type="checkbox" class="custom-control-input">

      </div>

      <!-- Sign up button -->
      <button class="btn btn-info my-4 btn-block" type="submit">Sign Up</button>

      <!-- Social register -->
      <p>or sign up with:</p>

      <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
      <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
      <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
      <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

      <hr>

      <!-- Terms of service -->
      <p>By clicking
          <em>Sign up</em> you agree to our
          <a href="" target="_blank">terms of service</a>
      </div>

      </form>
    </div>

</main>
</body>
</html>
