
<footer class="footer">

    <div class="row">

        <div class="footer-left col-md-6 ">
          <h1>Contact Us</h1>
          <p>Need to contact us? Please fill out the form below</p>

           <div class="contact form-group">
              <form method="post" action = "/contact">
                  <input type="text" placeholder="First Name" name="firstName" required="required">
                  <input type="email" placeholder="Email Address" name="email" required="required">
                  <input type="textarea" placeholder="Type your message" name="message" required="required">
                  <input type="submit" class="create-button" value="Submit">
              </form>
          </div>
        </div>

        <div class="footer-right col-md-6">

        <h1>More Information</h1>
          <ul>
              <li>Home</li><br>
              <li>About Us</li><br>
              <li>Pricing</li><br>
              <li>Register</li><br>
              <li>Support</li><br>

          </ul>
        </div>

    </div>

    <div class="row vcenter">
            <div class="pull-left col-lg-4 col-xs-12">
                <p>Copyright &copy; 2020 Marine Tasker</p>
            </div>
            <div class="col-lg-4 col-lg-offset-4 col-xs-12">
                <div class="pull-right">
                    <a href="#"><i class="fa fa-linkedin-square fa-icon"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-icon"></i></a>
                    <a href="#"><i class="fa fa-facebook-square fa-icon"></i></a>

                </div>
            </div>
        </div>

</footer>
