<% var navItems = {home:{name: 'Home',class:'active'},about:{name:'About Us'},contact:{name:'Contact Us'},pricing:{name:'Pricing'},register:{name:'Register',sitter:{name:'as sitter'},owner:{name:'as owner'}}} %>

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-info flex-row" role="navigation">

        <a class="navbar-brand" href="/">
            <img class="d-inline-block align-top mr-2" src="/images/logo31.png" width="40" height="40" alt=""/>
            <span>MARINE TASKER</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        </button>
        <div class="collapse navbar-collapse" id=navbarResponsive>
        <ul class="navbar-nav w-100">

            <li class="nav-item">
                <a class="nav-link" href="/"><%=navItems.home.name%></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about"><%=navItems.about.name%></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#footer"><%=navItems.contact.name%></a>
            </li>
            <!-- Pricing page not required for MVP release
            <li class="nav-item">
                <a class="nav-link" href="/pricing"><%=navItems.pricing.name%></a>
            </li>
            -->
            <%if(loggedIn){%>
            <li class="nav-item">
                <a class="nav-link" href="/user">Profile</a>
            </li>
            <li id="sign-in-link" class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>

        <ul class="navbar-nav" style="float: right">
            <%}else{%>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#loginmodal" role="button">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#signupmodal" role="button">Sign Up</a>
            </li>

        </ul>

            <%}%>
        </div>
 </nav>

<!-- Sign Up Modal -->

<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="false">
<div class="modal-dialog" role="document">
  <!--Content-->
  <div class="modal-content form-elegant">
    <!--Header-->
    <div class="modal-header text-center">
      <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign Up</strong></h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--Body-->
    <script src="https://www.google.com/recaptcha/api.js?render=6LeVjc8ZAAAAAC7GDOpuql1Gw3z18k-JaPMnM8r9"></script>
          <script src="/js/Forms.js"></script>

        <!-- Default form register -->
        <div class="text-center border border-light p-5">
            <div class="md-form pb-3">
                    <!-- First name -->
                    <input type="text" id="firstName" class="form-control" name="firstName" placeholder="First Name" required="required">
                    <!-- Last name -->
                    <input type="text" id="lastName" class="form-control" name="lastName" placeholder="Last Name" required="required">
            <!-- E-mail -->
            <input type="email" id="email" class="form-control" name="email" placeholder="Email" required="required">
            <!-- Phone number -->

            <!-- Password -->
            <input type="password" id="password" class="form-control" name="password" placeholder="Password" required="required" aria-describedby="defaultRegisterFormPasswordHelpBlock">
            <small id="password" class="form-text text-muted mb-4">
            </small>
            <!-- Confirm Pass -->
            <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" placeholder="Confirm Password (At least 6 characters and 1 digit)" required="required" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                  <!-- YachtOwner or Tradesmen -->
            <br>
            <h3 class="display-5">Please select account type</h3>
            <br>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"<p>Yacht Owner</p>
              <input type="radio" id="owner" name="type" value="owner" style="display:inline-block" required="required"></li>

              <li class="list-group-item"<p>Tradesperson</p>
              <input type="radio" id="tradie" name="type" value="tradie" style="display:inline-block" required="required"></li>

            </ul>

            <!-- Newsletter -->
            <div class="custom-control custom-checkbox">
              <p>Subscribe to our newsletter</p>
                <input type="checkbox" class="custom-control-input">
            </div>

            <!-- Sign up button -->
            <button class="btn btn-info my-4 btn-block" onclick="submitSignUp()">Sign Up</button>

            <!-- Social register -->
            <p>or sign up with:</p>

            <a href="/auth/facebook" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>

            <hr>

            <!-- Terms of service -->
            <p>By clicking
                <em>Sign up</em> you agree to our
                <a href="" target="_blank">terms of service</a>
            </div>

          </div>
          </div>

            <!--Footer-->
            <div class="modal-footer mx-5 pt-3 mb-1">
              <p class="font-small grey-text d-flex justify-content-end">Don't have an account? <a href="/user/register/submit" class="blue-text ml-1">
                  Sign Up</a></p>
            </div>
         </div>
</div>

<!-- LOGIN Modal -->
<div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="false">
<div class="modal-dialog" role="document">
  <!--Content-->
  <div class="modal-content form-elegant">
    <!--Header-->
    <div class="modal-header text-center">
      <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign in</strong></h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--Body-->
    <form method="POST" action="/login/submit">
    <div class="modal-body mx-6">
      <!--Body-->
        <div class="md-form mb-5">
        <label data-error="wrong" data-success="right" for="Form-email1">Your email</label>
        <input type="email" name="email" id="Form-email1" required="required" placeholder="Email Address" class="form-control validate">
        </div>
        <div class="md-form pb-3">
        <label data-error="wrong" data-success="right" for="Form-pass1">Your password</label>
        <input type="password" name="password" id="Form-pass1" required="required" placeholder="password" class="form-control validate">
        <button type="button" class="navigation-button" data-dismiss="modal" data-toggle="modal" data-target="#forgotpw" >Forgot Password?</button>
        </div>
        <div class="text-center mb-3">
            <button type="submit" class="btn btn-primary btn-block btn-rounded z-depth-1a">Sign in</button>
        </div>
        <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in with:</p>
        <div class="row my-3 d-flex justify-content-center">
          <!--Facebook-->
         <a href="/auth/facebook" type="button" class="light-blue-text mx-2 btn-rounded mr-md-3" target="_blank">
         <i class="fab fa-facebook-f"></i>
         </a>
          </div>
    </div>
        </form>

            <!--Footer-->
            <div class="modal-footer mx-5 pt-3 mb-1">
              <p class="font-small grey-text d-flex justify-content-end">Don't have an account? <a href="/user/register" class="blue-text ml-1">
                  Sign Up</a></p>
            </div>
         </div>
    </div>
</div>

<!-- FORGOT PASSWORD Modal -->
<div class="modal fade" id="forgotpw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="false">
<div class="modal-dialog" role="document">
  <!--Content-->
  <div class="modal-content form-elegant">
    <!--Header-->
    <div class="modal-header text-center">
      <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>FORGOT PASSWORD?</strong></h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--Body-->
    <form method="POST" action="/user/forgotPasswordRequest">
    <div class="modal-body mx-6">
      <!--Body-->
        <div class="md-form mb-5">
        <label data-error="wrong" data-success="right" for="Form-email1">An email will be sent with a password reset link</label>
        <input type="email" name="email" id="Form-email1" required="required" placeholder="Email Address" class="form-control validate">
        </div>
        <div class="text-center mb-3">
            <button type="submit" class="btn btn-primary btn-block btn-rounded z-depth-1a">Send password reset</button>
        </div>
    </div>
        </form>

            <!--Footer-->

         </div>
    </div>
</div>
