
<!-- Example Job Modal -->

<div class="modal fade modal-fullscreen" id="examplemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="false">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" style="color:#3396FF;" id="myModalLabal">Other</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-6">
        <!--Body-->

        <div class="md-form pb-3">
          <input type="text" name="boatMake" class="form-control" placeholder="Boat Make" />
          <input type="text" name="boatModel" class="form-control" placeholder="Boat Model" />
          <br>
          <p>Example</p>
          <select name="state" class="form-control">
            <option value="NSW">NSW</option>
            <option value="QLD">QLD</option>
            <option value="VIC">VIC</option>
            <option value="SA">SA</option>
            <option value="WA">WA</option>
            <option value="NT">NT</option>
            <option value="TAS">TAS</option>
          </select>
        </div>

        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="Sailmaker" id="Sailmaker" name="q1">
          <label class="custom-control-label" for="Sailmaker">Sailmaker</label>
          <br>
        </div>

        <div class="text-center mb-3">

          <button type="button" class="navigation-button" data-dismiss="modal" data-toggle="modal" data-target="#engineermodal" >Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Engineering/Mechanical/Electrical Job Modal -->

<div class="modal fade modal-fullscreen" id="engineermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="false">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" style="color:#3396FF;" id="myModalLabal">Engineering/Mechanical/Electrical</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-6">
        <!--Body-->
        <p>select job sub type</p>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="servicing" id="servicing" name="subtype">
          <label class="custom-control-label" for="servicing">servicing</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="electrician" id="electrician" name="subtype">
          <label class="custom-control-label" for="electrician">electrician</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="systems" id="systems" name="subtype">
          <label class="custom-control-label" for="systems">systems</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="hydraulic" id="hydraulic" name="subtype">
          <label class="custom-control-label" for="hydraulic">hydraulic</label>
          <br>
        </div>
        <div class="text-center mb-3">
          <button type="button" class="navigation-button" onClick="setGlobalJob('engineer')" data-dismiss="modal" data-toggle="modal" data-target="#boatinfomodal">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Rigging & Sails Job Modal -->

<div class="modal fade modal-fullscreen" id="sailmakermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="false">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" style="color:#3396FF;" id="myModalLabal">Rigging & Sails</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-6">
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="sails" id="sails" name="subtype">
          <label class="custom-control-label" for="sails">sail making</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="rigginghardware" id="rigginghardware" name="subtype">
          <label class="custom-control-label" for="rigginghardware">Deck and rigging hardware</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="rigging" id="rigging" name="subtype">
          <label class="custom-control-label" for="rigging">mast and boom rigging</label>
          <br>
        </div>
        <div class="text-center mb-3">
          <button type="button" class="navigation-button" onClick="setGlobalJob('riggingSails')" data-dismiss="modal" data-toggle="modal" data-target="#boatinfomodal">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Boatbuilding/Shipwrights Job Modal -->

<div class="modal fade modal-fullscreen" id="shipwrightmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="false">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" style="color:#3396FF;" id="myModalLabal">Boatbuilding/Shipwrights</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-6">
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="fibreglass" id="fibreglass" name="subtype">
          <label class="custom-control-label" for="fibreglass">fibreglass</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="steel" id="steel" name="subtype">
          <label class="custom-control-label" for="steel">steel work</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="timber" id="timber" name="subtype">
          <label class="custom-control-label" for="timber">timber</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="painting" id="painting" name="subtype">
          <label class="custom-control-label" for="painting">Painting</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="hull" id="hull" name="subtype">
          <label class="custom-control-label" for="hull">hull</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="joinery" id="joinery" name="subtype">
          <label class="custom-control-label" for="joinery">joinery</label>
          <br>
        </div>
        <div class="text-center mb-3">
          <button type="button" class="navigation-button" onClick="setGlobalJob('shipwright')" data-dismiss="modal" data-toggle="modal" data-target="#boatinfomodal">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Plumbing/Gas/AC and Refrigeration Job Modal -->

<div class="modal fade modal-fullscreen" id="plumbermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="false">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" style="color:#3396FF;" id="myModalLabal">Plumbing/Gas/AC and Refrigeration</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-6">
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="desalination" id="desalination" name="subtype">
          <label class="custom-control-label" for="desalination">desalination</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="plumbing" id="plumbing" name="subtype">
          <label class="custom-control-label" for="plumbing">plumbing</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="gas" id="gas" name="subtype">
          <label class="custom-control-label" for="gas">gas</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="aircon" id="aircon" name="subtype">
          <label class="custom-control-label" for="aircon">aircon</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="refrigeration" id="refrigeration" name="subtype">
          <label class="custom-control-label" for="refrigeration">refrigeration</label>
          <br>
        </div>
        <div class="text-center mb-3">
          <button type="button" class="navigation-button" onClick="setGlobalJob('plumber')" data-dismiss="modal" data-toggle="modal" data-target="#boatinfomodal">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Detailing Job Modal -->

<div class="modal fade modal-fullscreen" id="detailermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="false">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" style="color:#3396FF;" id="myModalLabal">Detailing</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-6">
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="diving" id="diving" name="subtype">
          <label class="custom-control-label" for="diving">diving</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="polishing" id="polishing" name="subtype">
          <label class="custom-control-label" for="polishing">polishing</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="teak" id="teak" name="subtype">
          <label class="custom-control-label" for="teak">teak</label>
          <br>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="upholstery" id="upholstery" name="subtype">
          <label class="custom-control-label" for="upholstery">upholstery</label>
          <br>
        </div>
        <div class="text-center mb-3">
          <button type="button" class="navigation-button" onClick="setGlobalJob('detailing')" data-dismiss="modal" data-toggle="modal" data-target="#boatinfomodal">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BoatInfo Job Modal -->

<div class="modal fade modal-fullscreen" id="boatinfomodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="false">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" style="color:#3396FF;" id="myModalLabal">Info</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-6">
        <!--Body-->
        <input type="text" name="boatName" id="boatName" class="form-control" placeholder="Boat Name" />
        <input type="text" name="boatInfo" id="boatInfo" class="form-control" placeholder="Boat Make/Model/Size" />
        <textarea id="jobDesc" name="jobDesc" id="jobDesc" rows="4" cols="50" placeholder="Job description"></textarea>
        <p>Job start date:</p>
        <input name='jobDate' id='jobDate' type='date'/>
        <div class="text-center mb-3">
          <button type="button" class="navigation-button" onClick="" data-dismiss="modal" data-toggle="modal" data-target="#mapmodal" >Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Map Modal -->
<div class="modal fade modal-fullscreen" id="mapmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Boat Location</strong>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
        <div class="modal-body mx-6">
          <!--Body-->
          <div class="md-form pb-3">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9lvMGvVwaNy42byCvEMUtzxpkLWbINkw&callback=map" defer></script>
            <div id="map" style="width:100%;height:400px;"></div>
          </div>
<button type="button" class="navigation-button" onClick ="submitJob()">Submit boat location</button>

</div>
<script>
function map() {
    /*Map initialze*/
    var mapProp= {
    center:new google.maps.LatLng(-33.853291,151.238470),
    zoom: 12,
    };
    var map = new google.maps.Map(document.getElementById("map"),mapProp);
    onemarker(map)
}

function onemarker(map){
  var previousmarker;
  map.addListener('click', function(event) {
      addMarker(event.latLng);
  });

  function addMarker(location) {
    var marker = new google.maps.Marker({
      position: location,
      map: map
    });
    if(previousmarker ){
      previousmarker.setMap(null);
    }
    previousmarker = marker;
    setGlobalLocation(location);
  }
}
</script>
    </div>
  </div>
</div>

<script>

</script>
