<div id="changephoto" class="modal fade modal-fullscreen" role="dialog">
    <div class="modal-dialog">

    <div class="modal-content form-elegant">
        <form action="/user/submitProfileImage" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <h4 class="modal-title">Upload New Photo</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body form-elegant">

             <div class="input-group mb-3">
                <input type="file" name="fileToUpload" id="fileToUpload">
             </div>
                <input type="submit" class="create-button" value="Upload Image" name="image">
        </div>

        <div class="modal-footer form-elegant">
          <p>By uploading a profile image, you agree to our
          <a href="" target="_blank">privacy policy</a></p>
        </div>
        </form>
    </div>
    </div>
</div>
