
<!-- Tradie Account Settings -->

<div id="changetradieAccountSettings" class="modal fade modal-fullscreen" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content form-elegant">
        <form action="#" method="post">
            <div class="modal-header">
              <h3 class="modal-title">Change Account Details</h3>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body mx-5">
                 <div class="md-form mb-3">
                    <label>First Name</label>
                    <input type="text" placeholder="<%= tradie.firstName %>" name="firstName" required="required" id="firstName">
                 </div>
                 <div class="md-form mb-3">
                    <label>Last Name</label>
                    <input type="text" placeholder="<%= tradie.lastName  %>" name="lastName" id="lastName">
                 </div>
                 <div class="md-form mb-3">
                    <label>Change Password</label>
                    <input type="password" placeholder="Enter Current Password" name="currentPass" id="currentPass">
                 </div>
                 <div class="md-form mb-3">
                    <label>Choose New Password</label>
                    <input type="password" placeholder="Enter New Password" name="newPass" id="newPass">
                 </div>
                 <div class="md-form mb-3">
                    <input type="password" placeholder="Retype New Password" name="reenterNewPass" id="reenterNewPass">
                 </div>
                 <div class="text-center mb-3">
                    <input type="submit" class="create-button" value="Save Changes" name="">
                 </div>
            </div>

            <div class="modal-footer form-elegant">

            </div>
        </form>
    </div>
  </div>
</div>
