html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  scroll-behavior: smooth;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: .8rem;
}

.navbar-dark li:hover {
  text-decoration: underline;
  font-weight: bold;
 }

.navbar-nav li {
  padding-right: 15px;
}
.nav-link {
  font-size: 1.3rem !important;
}
.form-group select {
  margin: 10px;

}

 .tabs {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

}

 /*Home Page */

 /* Search Container */

 .container-hero {
  background-image: url(../images/backgrounds/bluewater.jpg);
  background-size: cover;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  height: auto;
  text-align: center;
  max-height: 500px;
 }

 .container-hero h1 {
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
  padding: 10px;
}

.container-hero h3 {
  color: white;
  font-size:200%;
  margin-top: 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
  padding: 10px;
  padding-bottom: 1rem;
}

.search-form {
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5);
  background-color: #eee;
  height: 200px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;

 }

.search-form h4 {
  margin-top: 15px;
  padding: 10px;
  color: #00BCFF;
  font-size: 28px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.form-row {
  width: 100%;
}

/* How it Works Container */

.jumbotron h1 {
  margin-top: -15px;
  color: black;
  font-size: 36px;
  padding-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
}

.jumbotron h3 {
  color: black;
  font-size:200%;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  padding-bottom: 1rem;
}

.container-process {
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    height: auto;
    width: 70%;
    background-color: #EEE;
    border-radius: 8px;
    text-align: center;

}

/* Forms */

.form-group input {

  margin-left: 10px;
}

.form-group {
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
 }

 .form-group p {
  color:black;
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
  margin-left: 10px;
  }

.carousel-inner img {
  height: auto;
  width: 100%;

}

.welcome-msg {
  position: fixed;
  top: 43%;
  transform: translateY(-55%);
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;


  }

  .top-left {

  top: 50px;
  left: 46px;

  }

}

.btn-primary {
  background-color: #6648b1;
  border: 1px solid #6648b1;
}

.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

a {
  color: #00B7FF;
}

.translucent-container .card{
  background-color: rgba(245, 245, 245, 0.8);
}
.navbar-brand {
  font-weight: bold;
  font-style: italic;
  margin-top: 5px;
  font
}

.bg-cover{
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  height:100%;
  background-color: rgba(0,0,0,0.2);
  z-index: -99;
}

.bg {
  position: fixed;
  left: 0;
  right: 0;
  background-image: url("/images/YachsittersBackground.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  background-blend-mode: saturation;
  display: block;
  z-index: -100;
}


form input[type="checkbox"]{
  width:1.1em;
  height:1.1em;
  vertical-align: middle;
}


.marketplace h1 {
  text-align: center;
  font-weight: bold;

}
.card {
  max-height: 750px;
}


.card-columns {
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;

}

.inner {
  overflow: hidden;

 }

.inner img {
  transition: all 1.5s ease;
 }

.inner:hover img{
  transform: scale(1.5);
 }

.col-12 h2{
  font-weight: bold;
  margin-top: 25px;
}

.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}

.fa-css3 {
  color: #2163af;
}

.social a {
  font-size:2.5em;
  padding: 1.5rem;

}


.extra_margin {
  margin-top: 40px;

}

.col_background {
  background-color: #F9F8F8;
  display: inline-block;

}

.col_background img {
  display: inline-block;
 width: 170px;
 height: 150px;
 border-radius: 50%;
 border: 6px solid #FEFEFE;

 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
}

.navbar-brand, .navbar-nav{
  padding: 0 15px;
}


.loginModal {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.loginModal h1 {
  color: black;
  font-size: 36px;
  margin-bottom: 40px;
  display: none;
}

/* Buttons */

.btn-secondary {
  width: 200px;
  padding: 10px;
  border: 2px solid white;

}

.discard-button {
  background: #eee;
  padding: 5px;
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  width: 120px;
  max-width: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

.discard-button:hover {

  background: red;
  color: #fff;

}

.status-button {
  display:inline;
  background: #eee;
  padding: 5px;
  color: green;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
  max-width: 150px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  text-decoration: none;
  margin: auto;
  transition: 0.2s;
}

.status-button:hover {

  background: red;
  color: #fff;

}

.view-button {
  background: #EEE;
  display: inline;
  padding: 5px;
  color: #00BCFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
  max-width: 150px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: 0.4s;
  display: inline-block;
}

.view-button:hover {

  background: #4AC0DE;
  color: #fff;

}

.info-button {
  background: #EEE;
  margin: 5px;
  padding: 5px;
  color: #00BCFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  width: 120px;
  max-width: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: 0.4s;
}

.info-button:hover {

  background: #4AC0DE;
  color: #fff;

}

.delete-button {
  background: red;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  text-decoration: none;
  transition: 0.4s;
}

.delete-button:hover {

  background: #34495e;
  color: #fff;
}

.search-button {
  background: #00BCFF;
  padding: 10px 15px;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  text-decoration: none;
  transition: 0.4s;
}

.search-button:hover {

  background: white;
  color: #00BCFF;
}

.how-button {
  background: #EEE;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  text-decoration: none;
  transition: 0.4s;
}

.how-button:hover {

  background: #00C5FF;
  color: #fff;
}

.navigation-button {
  background: #3396FF;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.5);
  text-decoration: none;
  transition: 0.3s;
}

.navigation-button:hover {

  background: #00C5FF;
  color: #fff;
}

.logout-button {
  background: #3396FF;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.5);
  text-decoration: none;
  transition: 0.3s;
}

.logout-button:hover {

  background: red;
  color: white;
}

.create-button {
  background: #59D766;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  text-decoration: none;
  transition: 0.4s;
}

.create-button:hover {

  background: #34495e;
  color: #fff;
}

 }

.button {
  background: #eee;
  padding: 10px 15px;
  color: #34495e;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  margin-top: 25px;
  text-decoration: none;
  transition: 0.4s;
}
.button:hover {

  background: #344953;
  color: #fff;
}

/*Boat Page CSS*/

.boat-reviews {
  margin-top: 30px;
  width: 90%;
  background-color: #EEE;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  text-align: center;

 }

/*Profile Page CSS */

.jumbotron {


 }


.profile {

  background-color: #F6F6F6;
  margin-top: 50px;
  padding: 20px;
  margin-left: 30px;
  border-radius: 10px;
  height: auto;

 }

.requests {

  background-color: #F6F6F6;
  margin-top: 50px;
  padding: 10px;
  margin-left: 30px;
  border-radius: 10px;
  height: auto;
  width: auto;
  overflow-x: hidden;
 }

 .applications {

  background-color: #F6F6F6;
  margin-top: 50px;
  padding: 10px;
  margin-left: 30px;
  border-radius: 10px;
  height: auto;
 }

 .checked {
  color: orange;
}

 .profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    width: 100%;
    height: auto;
    max-height: 650px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 8px;
    margin-top: 10px;

  }

  .link-button {
    font-size: 10px;
    color: blue;
   }

  .requests-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    height: auto;
    width: 100%;
    max-height: 650px;
    background-color: white;
    border-radius: 8px;
    margin-top: 10px;

  }

  .container-boatad {
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    height: auto;
    background-color: white;
    border-radius: 8px;
    text-align: left;

  }

  .container-reviews {
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    height: auto;
    width: 80%;
    background-color: white;
    border-radius: 8px;
    text-align: center;

   }

  .advertisement {

    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    height: auto;
    max-width: 500px;
    max-height: 850px;
    background-color: white;
    border-radius: 8px;
    margin: 30px;


  }

  .requests-card h2 {
    color: #00BCFF;
    margin-top: 5px;
    text-align: left;
   }

  .applications-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    height: auto;
    max-width: 500px;
    max-height: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 8px;
  }

  .applications-card h2 {
    color: #00BCFF;
    margin-top: 5px;
    text-align: left;

   }
  .profile a {

      text-decoration: none;
      font-size: 22px;
      color: black;
      text-align:center;
  }

  .profile-name {
    color: black;
    font-size: 28px;
    font-weight: 20px;
 }

   .profile-location {

    color: grey;
    font-size: 18px;
 }

  .myboats {

    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    background-color: #fff;

   }

  .bottom-profile {

    padding: 50px;
    border: 2px solid #EEE;
    margin-top: 35px;
    margin: 19px;
    background-color: white;
    border-radius: 8px;

  }

  .bottom-profile h2 {

    text-align: left;
    margin-top: -40px;
    color: #00BCFF;
   }

  .bottom-profile a {

    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
 }

.popup {
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content {
  flex: 1 0 auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.content h1 {
  text-transform: uppercase;
  margin-top: 25px;
  text-align: center;
  padding: 10px;
 }

.footer input {

    color: black;
}

.footer {

  background-color: #292b2c;
  color: #fff;
  height: auto;
  padding: 35px;
  flex-shrink: 0;

}

.footer-middle {
  text-transform: uppercase;
 }

 .footer-right {
  text-transform: uppercase;

  }

.footer input {
    color: black;
    font-size: 14px;
    border-radius: 4px;
    padding: 4px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.footer a {
  color: #d5d5d5;
}

.footer p {
  text-align: center;
  padding: 5px;
}

.footer h1, h2 {
  text-align: center;
  padding: 10px;
  margin-top: 15px;
}

.footer-middle {
  text-transform: uppercase;
 }

.footer ul {
padding: 10px;
margin-top: 35px;
list-style-type: none;
text-align: center;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.popup-content {
  height: 250px;
  width: 500px;
  background: #eee;
  padding: 20px;
  border-radius: 5px;
  position: relative;

}

input {

  margin: 20px auto;
  display: block;
  width: 50%;
  padding: 10px;
  border: 1px solid gray;

}

}

.img-thumbnail {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 100px; /* Set a small width */
}

.img-thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

table {

  padding: 10px;
  height: auto;
  width: inherit;

 }


table th {
  background-color: #444A4B;
  color: #FFF;
  text-align: center;

}

.mdb-main-label {
  color: black;
  text-align: left;
  padding-bottom: 4px;
 }

.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-footer p {
  text-align: center;
 }

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }

    @font-face {
      font-family: 'Glyphicons Halflings';
      src: url('../fonts/glyphicons-halflings-regular.eot');
      src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
    }
