<!DOCTYPE html>
<html lang ="en">
<link rel='stylesheet', href='/stylesheets/style.css'>
<body>

<div class="container-map">
<p>This is sent from the /map and grabs the marker and displays it at the same location on this map.</p>
<p>The marker is being passed through express to a new page. Now it just has to be saved to the DB and linked to a boat.</p>
<p>Trsitan: this will be the code that goes on an advertisement for a boats location. it will be a static map with a single marker.</p>
<p>This marker can be customized to a boat image.</p>

<div id="googleMap" style="width:100%;height:400px;"></div>

<a href="/map"><button type="button" class="navigation-button">Back</button></a>
</div>
<script>
    var sendMarker;
function myMap() {

    /*Map initialze*/
    var mapProp= {
    center:new google.maps.LatLng(-33.853291,151.238470),
    zoom: 12,
    };
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    var location = new google.maps.LatLng('<%= newjob.lat %>','<%= newjob.long %>');
    var marker = new google.maps.Marker({
        position: location,
        map: map
    });
}


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9lvMGvVwaNy42byCvEMUtzxpkLWbINkw&callback=myMap"></script>


</body>


</html>
