homepage

<h2>Contact Us</h2>
<form method='post' action="/contact-us">
    <div class="container">
      <hr>

      <label for="message"><b>Message</b></label>
      <input type="text" placeholder="Enter message" name="message" required>
  
      <button type="submit" class="registerbtn">Send</button>
    </div>

  </form>