<form method='post' action="/login/submit">
    <div class="container">
      <h1>Login</h1>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
  
      <button type="submit" class="registerbtn">Register</button>
    </div>

  </form>