<!DOCTYPE html>
<html lang ="en">
<link rel='stylesheet', href='/stylesheets/style.css'>
<body>

<div class="container-map">

  <h1>My First Google Map</h1>
  <p>Goals: make this search an address. Place a marker at a location and return lat/long to back end.</p>

  <p>Final Goal: submit a lat/long to front end to display boat location. Submit lat/long in google map link</p>

<div id="googleMap" style="width:100%;height:400px;"></div>

<button type="button" class="navigation-button" onClick ="submitMarker()">Submit boat location</button>

</div>
<script>
    var sendLocation;
function myMap() {

    /*Map initialze*/
    var mapProp= {
    center:new google.maps.LatLng(-33.853291,151.238470),
    zoom: 12,
    };
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

    //this markers is to stop users creating more than 1 marker.
    var markers = 0;

    /*drop marker*/

        map.addListener('click', function(event) {
            if(markers == 0){
                addMarker(event.latLng);
                markers = markers + 1;

            }
        });

        function addMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            sendLocation = location;
            console.log(location);
            /*deletes the dropped marker when clicked*/
            google.maps.event.addListener(marker, 'click', function() {
                marker.setMap(null);
                markers = markers - 1;
            });

        }

}
</script>


<script>
    function submitMarker(){
    document.body.innerHTML += '<form id="marker" action="/map/marker" method="post"><input type="hidden" name="location" value="'+sendLocation+'"></form>';
    document.getElementById("marker").submit();
    
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9lvMGvVwaNy42byCvEMUtzxpkLWbINkw&callback=myMap"></script>


</body>

</html>
