<!DOCTYPE html>
<html lang="en">

<head>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>


<button type="button" class="status-button" data-toggle="modal" data-target="#loginmodal">Test Modal</button>

<header>

<!-- Post Job Modal -->
 <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="false">
   <div class="modal-dialog" role="document">
     <!--Content-->
     <div class="modal-content form-elegant">
       <!--Header-->
       <div class="modal-header text-center">
         <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Post a Job</strong></h3>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <!--Body-->
      
       <div class="modal-body mx-6">
         <!--Body-->
           <div class="md-form mb-5">
           <label><input type="radio" name="q1" value="Sailmaker">
      Sailmaker
    </label><br />
    <label><input type="radio" name="q1" value="Mechanic">
      Mechanic
    </label><br />
    <label><input type="radio" name="q1" value="Electrician">
      Electrician
    </label><br />
    <label><input type="radio" name="q1" value="Other">
      Other
    </label><br />
           </div>
           <div class="md-form pb-3">
           
           </div>
           <div class="text-center mb-3">

          <input type="button" onClick ="tabulateAnswers()">Submit job Type</input>
           </div>
        
        

               <!--Footer-->
               <div class="modal-footer mx-5 pt-3 mb-1">
                 <p class="font-small grey-text d-flex justify-content-end">Don't have an account? <a href="/register/user" class="blue-text ml-1">
                     Sign Up</a></p>
               </div>
            </div>
       </div>
       </div>

       <!-- New Modal -->
 <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="false">
   <div class="modal-dialog" role="document">
     <!--Content-->
     <div class="modal-content form-elegant">
       <!--Header-->
       <div class="modal-header text-center">
         <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Post a Job</strong></h3>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <!--Body-->
       <form method="POST" action="/login/user">
       <div class="modal-body mx-6">
         <!--Body-->
           <div class="md-form mb-5">
           <label><input type="radio" name="q1" value="repair">
      repair
    </label><br />
    <label><input type="radio" name="q1" value="new sail">
      new sail
    </label><br />
    <label><input type="radio" name="q1" value="Electrician">
      Electrician
    </label><br />
    <label><input type="radio" name="q1" value="Other">
      Other
    </label><br />
           </div>
           <div class="md-form pb-3">
           
           </div>
           <div class="text-center mb-3">

            <input type="button" class="status-button" onClick ="submitMarker()">Post Job</input>
           </div>
        
           
           </form>
             
            </div>
       </div>
       </div>


</header>

<body>
  <script>

var answers = {"placeholder1": "placeholder2"};

function tabulateAnswers() {
    var choices = document.getElementsByTagName('input');

  // loop through all the radio inputs
  for (i=0; i<choices.length; i++) {
    // if the radio is checked..
    if (choices[i].checked) {
      // add 1 to that choice's score
      if (choices[i].value == 'Sailmaker') {
        answers += ' sailmaker, ';
        $("#newModal").modal("show")
      }
      if (choices[i].value == 'Mechanic') {
        c2score = c2score + 1;
      }
      if (choices[i].value == 'Electrician') {
        c3score = c3score + 1;
      }
      if (choices[i].value == 'Other') {
        c4score = c4score + 1;
      }
    }
  }
  console.log('test console log', answers['tree']);
}

function secondAnswers() {
    var choices = document.getElementsByTagName('input');

  // loop through all the radio inputs
  for (i=0; i<choices.length; i++) {
    // if the radio is checked..
    if (choices[i].checked) {
      // add 1 to that choice's score
      if (choices[i].value == 'repair') {
        answers += 'repair, ';
      }
      if (choices[i].value == 'Mechanic') {
        c2score = c2score + 1;
      }
      if (choices[i].value == 'Electrician') {
        c3score = c3score + 1;
      }
      if (choices[i].value == 'Other') {
        c4score = c4score + 1;
      }
}
}
}

function submitMarker(){
    secondAnswers();
    document.body.innerHTML += '<form id="answerform" action="/post-test/submit" method="post"><input type="hidden" name="answers" value="'+answers+'"></form>';
    document.getElementById("answerform").submit();
}
</script>
</body>



</html>